.custom-btn {
  padding: 6px 16px;
  height: 32px;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;

  & + & {
    margin-left: 8px;
  }

  &:active {
    opacity: 0.4;
  }

  &.active {
    border: none;
    background-color: var(--primaryBgColor);
    color: white;
  }

  .accept-icon {
    display: inline-block;
    margin-right: 13px;
    svg {
      width: 13px;
      height: 10px;
    }
  }
}
