.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &.withBackground {
    background-color: rgba(30, 31, 37, 0.8);
  }

  &.isBlocking {
    z-index: 20000;
  }

  &-content {
    position: absolute;
    transform: translatey(40px);
    font-size: 14px;
    line-height: 20px;
  }

  &--theme-light,
  &--theme-bliss {
    color: black;

    &.withBackground {
      background-color: rgba(225, 224, 218, 0.8);
    }
  }
}