.spinner {
  margin: 10px;
  display: inline-block;

  svg {
    animation: spin 3s linear infinite;
  }

  &.sm,
  &.sm svg {
    width: 20px;
    height: 20px;
  }

  &.md,
  &.md svg {
    width: 40px;
    height: 40px;
  }

  &--theme-light,
  &--theme-bliss {
    svg path {
      fill: black;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
