$fontColor: #74787d;

.select-deck {
  &,
  & * {
    box-sizing: border-box;
  }

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  animation: showDeck 200ms ease-in-out;

  &__header {
    $headerHeight: 50px;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0 50px 0 65px;
    height: $headerHeight;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: $fontColor;
    border-bottom: 1px solid #f3f3f3;

    &__deck-icon {
      $iconHeight: 20px;

      position: absolute;
      top: ($headerHeight - $iconHeight) / 2;
      left: 35px;
      display: block;
      width: $iconHeight;
      height: $iconHeight;
      opacity: 0.5;

      path {
        fill: #000;
      }
    }

    &__close-btn {
      position: absolute;
      top: 8px;
      right: 20px;
    }
  }

  &__body {
    columns: 2;
    padding-top: 20px;

    &__deck {
      display: inline-block;
      width: 100%;
      margin: 9px 0;
      font-size: 14px;
      line-height: 20px;
      color: $fontColor;

      &.current .number {
        text-decoration: underline;
      }
    }
  }
}

@keyframes showDeck {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
