.muster-station-btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--primaryBgColor);
  padding: 6px;

  &__icon {
    display: block;
    width: 20px;
    height: 20px;

    svg {
      fill: white;
    }
  }
}
