.bliss-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 35px 30px 0;
  overflow-y: auto;

  &,
  & * {
    box-sizing: border-box;
  }

  &__category {
    $leftPadding: 50px;

    position: relative;
    line-height: 22px;
    padding: 19px 0 19px $leftPadding;
    font-size: 16px;
    color: #787c81;
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: $leftPadding;
      border-bottom: 1px solid #f2f2f2;
    }

    &__icon {
      position: absolute;
      top: 19px;
      left: 10px;
      display: block;
      width: 22px;
      height: 22px;

      svg {
        fill: #636363;
      }
    }
  }
}
