.notify {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;

  &.withBackground {
    background-color: rgba(30, 31, 37, 0.8);
  }

  &.inCenter {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }

  &.isAbsolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.isFullScreen {
    position: fixed;
    height: 100vh;
  }

  &--theme-light,
  &--theme-bliss {
    color: black;

    &.withBackground {
      background-color: rgba(225, 224, 218, 0.8);
    }
  }
}
