@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/RobotoRegular/RobotoRegular.eot");
  src:
    url("/public/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("/public/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/RobotoLight/RobotoLight.eot");
  src:
    url("/public/fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("/public/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/RobotoMedium/RobotoMedium.eot");
  src:
    url("/public/fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("/public/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/RobotoBold/RobotoBold.eot");
  src:
    url("/public/fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("/public/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensedRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/RobotoCondensedRegular/RobotoCondensed-Regular.eot");
  src:
    url("/public/fonts/RobotoCondensedRegular/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/RobotoCondensedRegular/RobotoCondensed-Regular.woff2") format("woff2"),
    url("/public/fonts/RobotoCondensedRegular/RobotoCondensed-Regular.woff") format("woff"),
    url("/public/fonts/RobotoCondensedRegular/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensedBold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src:
    url("/public/fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("/public/fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  font-weight: bold;
  src: local('Gotham Condensed'), url('/public/fonts/Bliss/gothamcondensed-bold.woff') format('woff');
}
