:root {
  --primaryBgColor: #26ccbf;
}

.dark {
  color: #fff;

  .Navigation {
    background-color: #1e1f25;
  }

  svg {
    #pools * {
      fill: #2a609f !important;
    }

    #walls * {
      fill: #1e1f25 !important;
    }

    #floor {
      fill: #3a3b3f !important;
    }

    #venues * {
      fill: #898c92 !important;
    }

    #lestn * {
      fill: #898c92 !important;
    }

    #lifts * {
      fill: #898c92 !important;
    }
  }
}

.light,
.bliss {
  color: #000;

  .Home a.decks {
    background-color: #e51930;
  }

  .Nav {
    background-image: url(/public/images/nav-mid-white.svg);
  }

  .Nav .wrap a.left path,
  .Nav .wrap a.right path {
    fill: rgba(229, 25, 48, 0.3);
  }

  .Nav .wrap a.left filter,
  .Nav .wrap a.right filter,
  .Nav .wrap a.left #nav-cabin-path {
    display: none;
  }

  .Nav .wrap a.left,
  .Nav .wrap a.right,
  .Search .categories .head {
    color: #e51930;
    text-shadow: none;
  }

  &.App .recenter-button,
  .DynamicDeck .overview-button,
  .Catalog .tab-content .item .descr,
  .Cabins .search-cabin button,
  .Restrooms button.big,
  .Directions .descr,
  .Nav .wrap a.right,
  .Nav .wrap a.left,
  .Search .results,
  .Cabins input,
  .Search .container,
  .Search .basic,
  .Search .results .category,
  .Search .results .category .title,
  .search-component__result .results,
  .search-component__result .results .category,
  .search-component__result .results .category .title {
    background: #fff;
  }

  .Search .container .title,
  .Search .results .category .text,
  .search-component__result .results .category .text {
    color: rgba(0, 0, 0, 0.9);
  }

  .Search .container .name,
  .Search .results .fast-filter .filter-tag,
  .search-component__result .results .fast-filter .filter-tag {
    color: #000;
  }

  .Home .navtop a.decks {
    background-color: var(--primaryBgColor);
  }

  .NavigationInfo button,
  .Home a.decks {
    color: #fff;
  }

  .NavigationInfo,
  .HomeHint,
  .overlay .modal,
  .Catalog .head,
  .SelectDeck,
  .Directions,
  .SelectDeck,
  .VenueInfo,
  .Catalog,
  .Search {
    background: #eee;
  }

  .Navigation .deck-info {
    background-color: rgba(117, 117, 117, 0.35);
  }

  .service {
    .venue-icon {
      svg {
        g {
          opacity: 1 !important;
        }

        [fill="#FFFFFF"],
        path {
          fill: #8a8a8a !important;
        }
      }
    }
  }

  .Directions {
    .position {
      .left {
        svg {
          [fill="#FFFFFF"] {
            fill: #1e1f25 !important;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .Search .input-wrap,
  .Search .input-wrap input,
  .Home .navtop {
    background: transparent;
  }

  .Search input {
    caret-color: #000;
  }

  .Search .results__placeholder,
  .Search .results .item .name,
  .Search .results .category .show-all,
  .search-component__result .results .item .name,
  .search-component__result .results .category .show-all,
  .Search .basic .name,
  .Catalog .tit,
  .Search input {
    color: rgba(30, 31, 37, 1);
  }

  .Catalog .tab-content .item .descr .name,
  .Directions .nav-bottom .distance,
  .UserItem,
  .Navigation .NavigationInfo .text,
  .overlay .modal > .footer button,
  .Directions .nav-bottom .time,
  .Directions .position .tit,
  .VenueInfo .content .info,
  .Directions .descr .name,
  .overlay .modal > .title,
  .Navigation .deck-info,
  .NavigationInfo .title,
  .SelectDeck .tit,
  .MyParty .head .name,
  .Cabins .help,
  .Venue.cabin .venue-label,
  .VenueInfo .head {
    color: rgba(30, 31, 37, 0.87);
  }

  .MyParty .UserItem span,
  .descr .info {
    color: rgba(30, 31, 37, 0.6);
  }

  .NavigationInfo .title {
    border-color: rgba(30, 31, 37, 0.5);
  }

  .Navigation .NavigationInfo .text span,
  .Search input::placeholder {
    color: rgba(30, 31, 37, 0.5);
  }

  .Restrooms button.big.active svg path {
    fill: #fff;
  }

  .Restrooms button.big svg path,
  .descr .next-arrow svg polygon,
  .show-all .next-arrow svg polygon,
  .Cabins .search-cabin button svg rect,
  .Home button.share svg path,
  svg.Deck .vertext-name {
    fill: rgba(30, 31, 37, 1);
  }

  .Cabins .search-cabin {
    input:focus {
      background: #fff;
    }

    .search-icon {
      background: #fff;
    }

    .next-arrow {
      svg {
        polygon {
          fill: #000;
        }
      }
    }
  }

  .Search .results .item .avatar span svg polygon,
  &.App .recenter-button svg path,
  .DynamicDeck .overview-button svg path,
  .Search .results .item .avatar span svg path,
  .search-component__result .results .item .avatar span svg polygon,
  .search-component__result .results .item .avatar span svg path {
    fill: rgba(30, 31, 37, 0.87);
  }

  .Restrooms button.dis svg path {
    fill: rgba(30, 31, 37, 0.6);
  }

  .Catalog .tab:not(.active) svg path {
    fill: rgba(30, 31, 37, 0.3);
  }

  .VenueInfo .content .info svg path {
    fill: rgba(23, 24, 29, 0.7);
  }

  .Catalog .tab:not(.active) {
    opacity: 0.7;
  }

  .Search input:focus {
    background-color: rgba(229, 25, 48, 0.3);
  }

  button.back svg polygon,
  .Directions .rotate svg path,
  .Catalog button.search svg path,
  .Search a.back svg .search-back,
  .SelectDeck button.accept svg polygon,
  .Search .categories .head span svg path,
  .Directions .position .invalid svg path,
  .Search .categories .head span svg polygon {
    fill: #e51930;
  }

  .UserItem .info svg polygon,
  .HomeHint .head button svg rect,
  .Search button.reset svg rect {
    fill: #666;
  }

  .VenueInfo .head button svg rect {
    fill: #17181d;
  }

  .Search {
    .input-wrap {
      input {
        color: #1e1f25;

        &:focus {
          background-color: transparent;
        }
      }
    }
  }

  .Catalog {
    .tab-content .title {
      color: #1e1f25;
    }

    &.crewonly.crewonly-catalog {
      .tab {
        color: #333 !important;

        svg * {
          fill: #666 !important;
        }

        &.active {
          color: #333 !important;

          svg * {
            fill: #000 !important;
          }
        }

        .active-border {
          background: #333 !important;
        }
      }

      .tab-content {
        .title {
          color: rgba(0, 0, 0, 0.7) !important;

          svg * {
            fill: #666 !important;
          }
        }
      }
    }
  }

  .VenueInfo.HomeHint {
    svg {
      [fill="#FFFFFF"] {
        fill: #17181d !important;
        opacity: 0.7;
      }
    }
  }

  .Search .basic {
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12),
      0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .Catalog .tab-content .item,
  .Directions .descr {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .Search .results .item .descr,
  .search-component__result .results .item .descr,
  .overlay .modal > .footer,
  .HomeHint .head,
  .UserItem .info,
  .VenueInfo .head {
    border-color: #d7d7d7;
  }

  .Restrooms button.dis {
    border-color: rgba(102, 102, 102, 0.2);
  }

  .Venue .venue-label {
    text-shadow: none;
  }

  .Venue .venue-icon,
  .Search .imgr {
    &.crewonly svg {
      rect {
        stroke: #666;
      }

      path,
      polygon {
        box-shadow: none;
        fill: #666;
      }

      use[fill="black"] {
        display: none;
      }
    }
  }

  .NavBottom {
    button,
    .map-settings-toggler,
    &.heatmap:not(.map-settings-open) button.active {
      background: #fff;
      box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.1),
        0 0 24px rgba(0, 0, 0, 0.1);
      color: rgba(30, 31, 37, 0.87);

      &.tb svg path {
        fill: rgba(30, 31, 37, 0.87) !important;
      }

      &.search {
        color: #fff;

        svg g {
          opacity: 1;
        }
      }
    }

    &.heatmap:not(.map-settings-open) {
      button .count {
        color: rgba(30, 31, 37, 0.87);
      }
    }

    .map-settings-toggler,
    .map-mode-selected,
    .icon-container {
      path,
      rect,
      polygon {
        fill: rgba(30, 31, 37, 0.87) !important;
        opacity: 1;
      }

      mask {
        fill: rgba(30, 31, 37, 0.87) !important;

        polygon {
          fill: rgba(30, 31, 37, 0.87) !important;
        }
      }
      // mask {
      //     fill: rgba(30,31,37,0.87) !important;
      // }
    }

    &.map-settings-open {
      .map-settings-toggler {
        polygon {
          fill: white !important;
        }
      }
    }

    &.heatmap:not(.map-settings-open) button .icon-container {
      background: rgba(0, 0, 0, 0.08);
    }

    svg {
      [fill="#FFF"] {
        fill: rgba(30, 31, 37, 0.87) !important;
      }

      [fill="#000"] {
        display: none;
      }
    }
  }

  .SelectDeck {
    .venues,
    .number,
    .head {
      color: #1e1f25;
    }

    .item.active {
      background-color: rgba(229, 25, 48, 0.09411764705882353);
    }

    svg {
      [fill="#FFFFFF"] {
        fill: #1e1f25 !important;
      }
    }
  }

  .layer3d {
    .dest-name,
    .deck-text {
      text-shadow: none;
    }
  }

  .deck-layers-container {
    svg {
      #floor {
        path {
          fill: #eee !important;
          stroke: #a5a5a5 !important;
        }
      }

      [fill="#57585C"] {
        fill: #fff !important;
      }

      [fill='#38393E'] {
        fill: #d7d7d7 !important;
      }

      [fill="#4A4C52"] {
        fill: #dfdfdf;
      }
    }
  }

  .DynamicDeck .overview-button,
  &.App .recenter-button {
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.1),
      0 0 24px rgba(0, 0, 0, 0.1);
  }

  .DynamicDeck,
  .Navigation {
    background-color: #eee;
  }

  .Home.Navigation .DynamicDeck {
    background: #eee;
  }

  .DynamicDeck .overview-button {
    opacity: 1;
  }

  .Navigation .navigation-tips-wrapper {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  .custom-btn {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.bliss {
  --primaryBgColor: #245f85;

  button.back svg polygon {
    fill: #245f85;
  }

  .Navigation .deck-info {
    background-color: rgba(238, 238, 238, 0.8);
  }
}
