.App {
    height: 100%;

    .recenter-button {
        position: fixed;
        bottom: 104px;
        right: 24px;
        width: 48px;
        height: 48px;
        background-color: rgba(255,255,255,0.5);
        z-index: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            display: block;
        }
    }
}