.Cabins {
  .buttons {
    display: flex;
    min-height: 48px;
  }

  .search-cabin {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 16px;
    position: relative;

    button {
      background-color: #434349;
      border-radius: 0 4px 4px 0;
      display: flex;
      height: 48px;
      justify-content: center;
      margin: 0;
      min-width: 48px;
    }

    .loader {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  svg {
    display: block;
  }

  button.cabin-btn {
    background-color: var(--primaryBgColor);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    color: rgba(255, 255, 255, 0.87);
    font-family: "RobotoBold", sans-serif;
    height: 48px;
    letter-spacing: 0.75px;
    min-width: 124px;
    text-transform: uppercase;

    span {
      display: inline-block;
      vertical-align: bottom;
    }

    svg {
      margin-right: 8px;
    }
  }

  input {
    background-color: #434349;
    border: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.87);
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
    height: 48px;
    letter-spacing: 2.87px;
    line-height: 48px;
    padding: 0 13px;
    width: calc(100% - 48px - 26px);

    &:focus {
      background-color: #54575f;
      outline: 0;
    }

    &::placeholder {
      font-family: "RobotoRegular", sans-serif;
      font-size: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      letter-spacing: 0.13px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .help,
  .error {
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin: 3px 0 0 auto;
    user-select: none;
    width: calc(100% - 124px - 16px);
  }

  .error {
    color: rgba(255, 0, 0, 0.6);
  }

  .cabins-wrapper {
    flex: 1;
    margin: 27px 0 0;
    overflow: auto;
    padding: 0 10px 0 0;
    width: 100%;
  }
}

.Search.landscape {
  .Cabins .cabins-wrapper {
    height: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .Home.landscape {
    .Cabins .cabins-wrapper {
      height: 242px;
    }
  }
}
