.Catalog {
  background: #1e1f25;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;

  .tit {
    color: rgba(255, 255, 255, 0.87);
    font-family: 'RobotoMedium', sans-serif;
    font-size: 20px;
    left: 56px;
    letter-spacing: 0.25px;
    position: absolute;
    top: 40px;
  }

  .head {
    background-color: #33343a;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.14),
      0 4px 2px rgba(0, 0, 0, 0.12),
      0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .catalog-notify {
    top: 157px;
    z-index: 1;
  }

  button.search {
    box-sizing: content-box;
    height: 18px;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: 40px;
    width: 18px;
    z-index: 1;
  }

  .tabs {
    overflow: auto;
    padding-top: 85px;
    transition: padding-top 0.25s ease-in-out;

    .tab {
      transition: height 0.25s ease-in-out;
    }

    .tabs-inner {
      display: flex;
      position: relative;
    }
  }

  &.crewonly {
    .tabs.little {
      padding-left: 29px;

      .tab {
        flex: 1;
        font-size: 14px;
        height: 45px;
        margin: 0 8px;
        max-width: 500px;
        text-transform: uppercase;
        width: auto;
      }

      svg {
        display: none;
      }
    }
  }

  .tab {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 72px;
    justify-content: center;
    max-width: 120px;
    padding: 0 5px;
    position: relative;
    white-space: nowrap;
    width: 33.333%;

    &:first-child {
      margin-left: 15%;
    }

    &:last-child {
      margin-right: 15%;
    }

    &:not(.active) {
      color: rgba(255, 255, 255, 0.7);

      svg path {
        fill: rgba(255, 255, 255, 0.7);
      }
    }

    .active-border {
      background-color: #fce38a;
      bottom: 0;
      height: 5px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    svg {
      height: 22px;
      margin: 0 0 4px 0;
      max-width: 22px;
    }
  }

  .tab-content {
    flex: 1;
    overflow: auto;
    padding: 10px 0;

    .category-wrapper {
      margin-bottom: 16px;
    }

    .title {
      align-items: center;
      color: #fff;
      display: flex;
      letter-spacing: 1.25px;
      padding: 16px 24px;
      text-transform: uppercase;

      svg {
        display: block;
        margin-right: 8px;
      }
    }

    .item {
      border-radius: 2px;
      margin: 8px;
      overflow: hidden;
      width: calc(100% - 16px);

      .images-wrapper {
        display: flex;
        height: 165px;

        & > .image-container {
          height: 100%;
          width: 61%;
        }
      }

      .image-container {
        overflow: hidden;
        position: relative;

        img {
          display: block;
          left: 50%;
          max-height: 100%;
          min-height: 100%;
          min-width: 100%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .next-images-wrapper {
        flex: 1;
        height: 100%;

        .image-container {
          height: 50%;
        }
      }

      .descr {
        background: #33343a;
        padding: 8px 16px;

        .name {
          color: #fff;
          font-size: 16px;
          letter-spacing: 0.35px;
          line-height: 24px;
        }

        .name + .name {
          color: rgba(255, 255, 255, 0.7);
        }

        .next-arrow {
          right: 6px;
        }
      }
    }
  }

  &.crewonly.crewonly-catalog {
    .tab {
      color: rgba(255, 255, 255, 0.7) !important;

      svg * {
        fill: rgba(255, 255, 255, 0.7) !important;
      }

      &.active {
        color: #fff !important;

        svg * {
          fill: #fff !important;
        }
      }

      .active-border {
        background: #fff !important;
      }
    }

    .tab-content {
      .title {
        color: rgba(255, 255, 255, 0.7) !important;

        svg * {
          fill: rgba(255, 255, 255, 0.7) !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Catalog .tab-content {
    .title {
      flex: 0 1 100%;
    }

    .category-wrapper {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto 16px;
      max-width: calc(425px * 2);
      padding: 0 2%;
    }

    .item {
      margin: 12px;
      max-width: 425px;
      width: calc(50% - 24px);
    }
  }
}

@media only screen and (min-width: 1366px) {
  .Catalog .tab-content {
    .category-wrapper {
      max-width: calc(425px * 3);
      padding: 0 12px;
    }

    .item {
      width: calc(33.3333% - 24px);
    }
  }
}
