.Controls {
    position: fixed;
    text-align: center;
    padding: 20px;
    background: white;
    color: #000;
    opacity: 0.75;
    z-index: 100;
    bottom: 50px;
    right: 0;
    font-size: .8em;

    div {
        margin: .5em 0;
        vertical-align: middle;

    }

    .input {
        vertical-align: middle;
        position: relative;
        width: 2.5em;
        margin: 0 5px 0 10px
    }

    p {
        margin: 2px 0 8px 0
    }

    button {
        position: relative;
        padding: 3px;
        border: 1px #333 solid;
        margin-right: 2px;
    }

    button#orientation {
        bottom: 0px
    }
}