.DynamicDeck {
    background-color: #1E1F25;
    
    .overview-button {
        position: fixed;
        bottom: 168px;
        right: 28px;
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255,0.5);
        z-index: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            display: block;
        }
    }
}

.Deck {
    overflow: visible;
    transform-style: preserve-3d;
    opacity: 0;
    transition: opacity 1s;

    &.initialized {
        opacity: 1;
    }

    .deck-3d-container {
        transform-style: preserve-3d;
        transform-origin: 50% 50%;
    }

    &.in-move {
        .deck-3d-layer {
            transition: none;
        }

        .deck-layers-container {
            transition: none;
        }
    }

    .deck-3d-layer {
        backface-visibility: hidden;
        position: absolute;
        z-index: 55;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        transition: transform 0.1s;
    }

    .deck-layers-container {
        backface-visibility: hidden;
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        position: relative;
        transition: transform 0.1s;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform-style: preserve-3d;
        }

        svg {
            max-width: 100%;
            overflow: visible;

            #main-container {
                transform-origin: 50% 50%;
                transform-style: preserve-3d;
                transition: transform .15s;
            }

            .vertex-circle {
                cursor: pointer;
            }

            .vertex-circle:hover {
                fill: #99f;
                opacity: 0.5;
            }

            .vertex.selected line {
                stroke: #0f0;
            }

            .vertext-name {
                margin: 0;
                display: flex;
                align-items: center;
                color: #fff;
            }

            .animated-paths-container {
                filter: url(#path-shadow);

                @keyframes draw {
                    to {
                        stroke-dashoffset: 0;
                    }
                }
            }

            .path-container {
                &.another-level {
                    opacity: .3;
                }
            }

            .user {
                fill: #4285F4;
                stroke: #fff;
                stroke-width: 8;
                -webkit-filter: drop-shadow( 0px 5px 5px #000 );
                filter: drop-shadow( 0 5px 5px #000 );
            }

            .party {
                .user {
                    fill: #F44285;
                }
            }

            .user-container {
                transition: transform .35s;
                pointer-events: none;

                .heading {
                    fill: url(#user-heading-shadow);

                    polygon {
                        transition: transform .5s, margin .5s;
                    }
                }
            }

            .user-background {
                fill: #4285F4;
                filter: url(#user-shadow);
            }
        }
    }
}

.Directions .Deck .deck-layers-container {
    .user-container {
        display: none;
    }
}
