.Destination {
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  transform-style: preserve-3d;
  z-index: 1100;

  .dest-img,
  .dest-im-blur {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(-10px, -25px) translateZ(-14px);
  }

  .dest-avatar {
    border-radius: 50%;
    height: 18px;
    position: absolute;
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(-4px, -30px) translateZ(-8px);
    width: 18px;
  }

  .dest-name {
    font-size: 12px;
    font-weight: 700;
    left: 5px;
    line-height: 14px;
    margin-left: 12px;
    max-width: 80px;
    position: relative;
    text-shadow: 0 0 2px #000;
    top: 5px;
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(-13px, -25px) translateZ(-18px);
    z-index: 52;

    &--theme-bliss {
      color: #002128;
      font-family: 'Gotham Condensed', sans-serif;
      text-transform: uppercase;
    }
  }

  .dest-circle {
    background-color: #ff4e4e;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 10px;
    z-index: 50;
  }

  .dest-im-blur {
    bottom: 0;
    -webkit-filter: blur(9px);
    filter: blur(9px);
    left: 5px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 26px;
    z-index: 60;
  }

  .dest-img {
    bottom: 0;
    left: 5px;
    position: relative;
    right: 0;
    top: 5px;
    width: 20px;
    z-index: 60;
  }
}

.DestinationContainer {
  .Destination {
    .dest-img {
      left: 0;
      right: auto;
      width: 30px;
    }

    .dest-avatar {
      height: 28px;
      transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(-9px, -31px) translateZ(-10px);
      width: 28px;
    }
  }
}
