@keyframes trianglesMoving {
  0% { top: 0; }
  50% { top: -5px; }
  100% { top: 0; }
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.Directions {
  background: #1e1f25 url(/public/images/sd-bg.svg) no-repeat center / cover;
  display: flex;
  height: 100%;
  position: relative;

  button.back {
    top: 25px;
  }

  .rotate {
    display: flex;
    height: 30px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: -52px;
    width: 100%;

    img {
      display: inline-block;
      vertical-align: middle;
      width: 34px;
    }
  }

  &.Navigation {
    .rotate {
      right: 0;
      top: -98px;
    }
  }

  .position {
    display: flex;
    flex-wrap: wrap;
    left: 61px;
    position: absolute;
    top: 18px;
    width: calc(100% - 61px - 21px);
    z-index: 20;

    &.v-to-v {
      .left {
        span {
          &.dots {
            margin: 24px 0;
          }
        }
      }
    }

    .left {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 12px 20px 0 0;
      max-width: 16px;
      min-width: 16px;

      span {
        display: inline-flex;

        &.dots {
          margin: 16px 0;
        }
      }

      svg {
        max-height: 16px;
        max-width: 16px;
      }
    }

    .right {
      flex: 1;
      overflow: hidden;
    }

    .nav-options {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .tit {
      color: rgba(255, 255, 255, 0.87);
      letter-spacing: 0.25px;
      margin: 0 0 16px 0;
    }

    .descr-wrapper {
      display: flex;
    }

    .invalid {
      height: 19px;
      margin: 5px 0 0 16px;
      width: 14px;
    }

    .remove-target {
      background: transparent url(/public/images/recenter.svg) no-repeat center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      height: 16px;
      margin: 23px 0 0 16px;
      width: 16px;
    }
  }

  .nav-friend-notify {
    left: 0;
    position: absolute;
    top: 190px;

    &__close-btn {
      position: absolute;
      right: 20px;
    }
  }

  .descr {
    background: rgba(52, 53, 60, 0.8);
    border-radius: 4px;
    flex: 1;
    margin: 0 0 16px 0;
    padding: 8px;

    .name {
      color: rgba(255, 255, 255, 0.87);
      font-size: 16px;
      letter-spacing: 0.35px;
      line-height: 24px;
      max-width: 100%;
    }
  }

  .nav-bottom {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 11px 16px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 200;

    .recenter-button {
      bottom: 82px;
      left: 100%;
      margin-left: -44px;
      right: auto;
      top: auto;
    }

    .start-navigation-button {
      align-items: center;
      background: var(--primaryBgColor);
      border-radius: 2px;
      box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12),
        0 1px 3px rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 0.87);
      display: flex;
      font-family: 'RobotoBold', sans-serif;
      height: 48px;
      justify-content: center;
      letter-spacing: 1.25px;
      max-width: 224px;
      pointer-events: all;
      text-transform: uppercase;
      width: 68.3%;
      z-index: 10;

      img {
        margin-right: 13px;
        vertical-align: middle;
      }
    }

    .time {
      color: #fff;
      font-family: 'RobotoBold', sans-serif;
      font-size: 20px;
      letter-spacing: 0.19px;
    }

    .distance {
      color: rgba(255, 255, 255, 0.87);
      font-family: 'RobotoMedium', sans-serif;
      font-size: 12px;
    }
  }

  ._3d-cont {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    width: 100%;
  }

  .decks-view-cont {
    -webkit-align-items: center;
    align-items: center;
    bottom: 0;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    max-height: 850px;
    max-width: 660px;
    overflow: visible;
    perspective: 900px;
    position: relative;
    right: 0;
    top: 0;
    transform: scale(1.3) translate(0, 0);
    width: 100%;
  }

  .directions-deck-container {
    -webkit-align-items: center;
    align-items: center;
    bottom: 0;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    // transition: transform .1s;
    // -webkit-transition: -webkit-transform .1s;

    > .deck {
      transform: rotate(-90deg);
      transform-style: preserve-3d;
    }
  }

  .deck-1 {
    display: block;
    z-index: 50;
  }

  .deck-0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .deck-2 {
    display: block;
    z-index: 100;
  }

  .deck-3 {
    display: block;
    z-index: 150;
  }

  .layer3d {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    z-index: 55;

    .deck-number {
      display: block;
      font-family: 'RobotoBold', sans-serif;
      font-weight: bold;
      height: 52px;
      left: calc(50% - 20px);
      opacity: 0.3;
      position: absolute;
      top: 156px;
      transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(0, -18px) translateZ(-56px) scale(0.8);
      transition: all 0.3s ease-in-out;
      width: 44px;
    }

    .deck-number-label {
      display: block;
      font-size: 9px;
      line-height: 1;
    }

    .deck-number-value {
      display: block;
      font-size: 42px;
      line-height: 42px;
    }
  }

  /* .decks-view-cont .directions-deck-container:first-child.deck-1 .deck-number{
        margin-left: 0 !important;
    } */

  .lift-here {
    border-radius: 7px;
    display: block;
    height: 14px;
    left: 179px;
    position: absolute;
    top: 239px;
    transform-style: preserve-3d;
    width: 14px;
    z-index: 1000;

    .lift-tunnel {
      opacity: 0.4;
    }
  }

  .lift-here-flip {
    border-radius: 7px;
    display: block;
    height: 14px;
    left: 179px;
    position: absolute;
    top: 239px;
    -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) translate3d(0, 0, 9px);
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) translate3d(0, 0, 9px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 14px;
    z-index: 0;
  }

  img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }

  .cabin-lift-2 {
    border-radius: 7px;
    display: block;
    height: 14px;
    left: 179px;
    position: absolute;
    top: 239px;
    -webkit-transform: translate3d(0, 0, -110px);
    transform: translate3d(0, 0, -110px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 14px;
    z-index: 100;
  }

  .lift-opacity {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .lift-circl-ligh-bot.minus1 {
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, -4px);
    transform: translate3d(0, 0, -4px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .lift-circl-ligh-bot {
    background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6));
    border-radius: 7px;
    height: 14px;
    position: absolute;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 14px;
    z-index: 50;
  }

  .lift-circl-light {
    background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0.71), hsla(0, 0%, 100%, 0.71));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.71), hsla(0, 0%, 100%, 0.71));
    border-radius: 7px;
    height: 14px;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 29px);
    transform: translate3d(0, 0, 29px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 14px;
    z-index: 50;
  }

  .lift-circl-light.plus1 {
    border-style: none;
    -webkit-transform: translate3d(0, 0, 32px);
    transform: translate3d(0, 0, 32px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .way-cont {
    -webkit-filter: saturate(140%);
    filter: saturate(140%);
    height: 100%;
    position: absolute;
    // -webkit-transform: translate3d(0px, 0px, 2px);
    // transform: translate3d(0px, 0px, 2px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    z-index: 3;

    .way {
      background-color: #4285f4;
      border-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 12px 3px rgba(66, 133, 244, 0.6);
      position: absolute;
      transform-origin: 0% 0%;
      width: 5px;
      z-index: 11;
    }
  }

  .deck {
    -webkit-align-items: center;
    align-items: center;
    bottom: 0;
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    // max-height: 720px;
    // max-width: 360px;
    -webkit-box-pack: center;
    display: block;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
  }

  .deck-img {
    display: block;
    max-width: none;
    transform: scale3d(1, 1.5, 1);
    transform-style: preserve-3d;
    width: 100%;

    svg {
      overflow: visible;
    }
  }

  .deck-text {
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    text-shadow: 0 0 2px #000;
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(0, -23px);
    transform-style: preserve-3d;
    z-index: 1100;
  }

  .user-cont {
    height: 14px;
    overflow: visible;
    position: absolute;
    transform: translate3d(0, 0, -1px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 14px;
    z-index: 50;

    .you-are-here {
      bottom: -18px;
      font-size: 12px;
      left: -52px;
      line-height: 14px;
      position: absolute;
      text-align: right;
      text-shadow: 0 0 2px #000;
      top: -8px;
      -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(0, -23px);
      transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translate(0, -23px);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      z-index: 52;
    }
  }

  &.landscape {
    .nav-bottom {
      flex-direction: column;

      .info {
        margin-bottom: 20px;
      }

      .rotate {
        bottom: 17px;
        left: auto;
        right: 0;
        top: auto;
        width: 50%;
      }
    }

    .position {
      width: calc(55% - 61px - 21px);

      .descr {
        max-width: 100%;

        div {
          text-overflow: ellipsis;
        }
      }
    }

    .decks-view-cont {
      float: right;
      left: -10px;
      width: 50%;
    }
  }

  &.Modal {
    background: #1a1a1a;
    border-radius: 16px;
    box-shadow: 0 30px 40px 10px rgba(0, 0, 0, 0.41);
    height: 420px;
    width: 50%;

    .venue-info {
      color: #fff;
      flex: 1 1 auto;
      max-width: 60%;

      .image {
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
        position: relative;
        width: 100%;

        img {
          border-bottom-left-radius: 16px;
          border-top-left-radius: 16px;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .info {
        bottom: 30px;
        left: 30px;
        position: absolute;

        .icon {
          border-radius: 50%;
          margin-bottom: 25px;
          max-height: 135px;

          svg {
            height: 56px;
            width: 56px;
          }
        }

        .name {
          font-size: 48px;
          margin-bottom: 5px;
        }

        .detail {
          font-size: 16px;
          margin-bottom: 45px;
        }

        .buttons {
          button {
            background-color: #fff;
            border: solid 1px rgba(255, 255, 255, 0.2);
            border-radius: 24.5px;
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
            color: #0b0b0b;
            font-size: 16px;
            font-weight: bold;
            line-height: 65px;
            margin: 0 22px 0 0;
            min-width: 250px;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }

    .close-button {
      align-items: center;
      background-color: #fff;
      border: solid 1px rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
      color: #0b0b0b;
      display: flex;
      font-size: 30px;
      height: 65px;
      justify-content: center;
      min-width: 0;
      position: absolute;
      right: -33px;
      text-align: center;
      text-transform: uppercase;
      top: -43px;
      width: 65px;

      svg {
        height: 25px;
        opacity: 1;
        width: 25px;

        * {
          opacity: 1;
        }
      }
    }

    .dest-name,
    .deck-number {
      backface-visibility: hidden;
      color: #fff;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Directions {
    .nav-bottom {
      justify-content: center;
      min-height: 70px;

      .info {
        left: 68px;
        position: absolute;
      }
    }

    .decks-view-cont {
      left: 50%;
      transform: scale(1.3) translate(-38.7%, 40px);
    }

    &.landscape {
      .position {
        width: calc(46% - 61px - 21px);
      }

      .nav-bottom {
        flex-direction: row;
        justify-content: flex-start;
        padding: 33px 55px;

        .info {
          left: 305px;
        }
      }

      .decks-view-cont {
        float: none;
        left: 50%;
        left: 68%;
        transform: scale(1.3) translate(-38.7%, 4%);
      }

      .rotate {
        top: 45px;

        img {
          margin: 0 32% 0 auto;
          transform: translate(50%, 0);
        }
      }
    }

    &.Modal.landscape {
      .decks-view-cont {
        left: 50%;
      }
    }

    &.Navigation.landscape {
      .nav-bottom {
        bottom: 56px;
      }

      .deck-info {
        bottom: 32px;
      }

      .rotate {
        top: -32px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .Directions {
    .decks-view-cont {
      left: 50%;
      transform: scale(1.8) translate(-28%, 100px);
    }
  }
}
