.Elevator {

    .lifter-2 {
        position: absolute;
        left: 187px;
        top: 117px;
        z-index: 1000;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .lift-tunnel.rot90 {
        -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .lift-tunnel {
        position: absolute;
        left: 0px;
        top: 7px;
        right: 0px;
        bottom: 0px;
        width: 14px;
        height: 80px;
        background-image: linear-gradient(180deg, rgba(222, 232, 249, 0.49) 80%, rgba(211, 219, 230, 0));
        opacity: .8;
        filter: blur(1px);
        transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0, 0, 0);
        transform-origin: 50% 0%;
        transform-style: preserve-3d;
    }

    &.without-arrows {
        .lift-tunnel {
            height: 20px;
        }
    }

    .lift-icon {
        position: absolute;
        z-index: 52;
        top: 7px;
        transform: rotateX(90deg) translateY(19px) rotateY(0deg) rotateZ(180deg);
        transform-origin: 50% 0%;
        transform-style: preserve-3d;
    }

    .stair-rectangle-bottom,
    .lift-circle-bottom,
    .lift-circle-top {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #E51930;
        border-radius: 50%;
    }

    .lift-circle-bottom {
        z-index: 51;
    }

    .stair-rectangle-bottom {
        border-radius: 2px;
    }

    .lift-circle-top {
        transform: rotateX(0deg) translateZ(19px) rotateY(0deg) rotateZ(0deg);
        z-index: 53;
    }

    .lift-circle-dark {
        position: absolute;
        z-index: 50;
        width: 13px;
        height: 13px;
        transform: translate(-1px, 0px);
        border-style: solid;
        border-width: 1px;
        border-color: hsla(0, 0%, 100%, .22);
        border-radius: 7px;
        background-image: -webkit-linear-gradient(270deg, rgba(41, 36, 36, .19), rgba(41, 36, 36, .19));
        background-image: linear-gradient(180deg, rgba(41, 36, 36, .19), rgba(41, 36, 36, .19));
    }

    .triangles {
        position: absolute;
        left: 2px;
        top: -20px;
        display: flex;
        height: 28px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        -webkit-transform: rotateX(-90deg) translateY(0px) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(-90deg) translateY(-30px) rotateY(0deg) rotateZ(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

        .triangles-images-container {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            -webkit-animation: trianglesMoving 1s infinite;
            animation: trianglesMoving 1s infinite;
            justify-content: space-between;
        }
    }

    &.down .triangles {
        transform: rotateX(90deg) translateY(62px) rotateY(0deg) rotateZ(0deg);
    }

    .triangle-try2 {
        position: relative;
        z-index: 12;
        width: 8px;
        opacity: 0.8;
    }
}

.Directions {
    .Elevator.Stair {
        .lift-circle-dark {
            display: none;
        }
    }
}

.Navigation {
    .Elevator.Stair {
        .lift-tunnel {
            /*top: 25px;*/
        }

        .triangles {
            /*top: -8px;*/
        }
    }
}

