.Heatmap {
    position: absolute;
    opacity: .5;

    .heatmap-spot {
        border-radius: 50%;

        &.blue {
            background: rgba(31, 129, 226, 0.7);
            box-shadow: 0 0 4px rgba(31, 129, 226, 1);
        }

        &.yellow {
            background: rgba(231, 225, 91, 0.7);
            box-shadow: 0 0 4px rgba(231, 225, 91, 1);
        }

        &.red {
            background: rgba(231, 51, 0, 0.7);
            box-shadow: 0 0 4px rgba(231, 51, 0, 1);
        }
    }
}
