.HomeHint {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #33343A;
    box-shadow: 0 -3px 4px rgba(0,0,0,0.14);
    border-radius: 16px 16px 0 0;
    max-height: 100%;

    .head {
        display: flex;
        padding: 0 24px;
        color: rgba(255,255,255,0.87);
        font-size: 16px;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,0.06);
        min-height: 48px;

        .name {
            flex: 1;
            margin: 0 0 0 15px;
            line-height: 24px;
            letter-spacing: 0.15px;
        }

        button {
            width: 24px;
            height: 24px;
            margin-left: 5px;
        }
    }
}

@media only screen and (min-width : 768px) {

    .HomeHint:not(.landscape) {
        width: calc(100% - 76px);
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.landscape {
        .HomeHint {
            width: 37.5%;
            right: 24px;
            left: auto;
        }
    }


}