.Home {
  .overlay {
    &.fade-enter {
      .SelectDeck {
        transform: translateY(-50%);
      }

      &.fade-enter-active {
        .SelectDeck {
          opacity: 1;
          transform: translateY(0%);
          transition: all 350ms ease-in-out;
        }
      }
    }

    &.fade-exit {
      .SelectDeck {
        opacity: 1;
        transform: translateY(0%);
      }

      &.fade-exit-active {
        transition: all 350ms;

        .SelectDeck {
          opacity: 0.01;
          transform: translateY(-50%);
          transition: all 350ms ease-in-out;
        }
      }
    }
  }

  &__bliss-search {
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    height: 68px;
    padding: 12px 40px 12px 46px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .home__inner {
    position: relative;
    transition: 200ms all;
  }

  .navtop {
    background: linear-gradient(to top, rgba(29, 30, 36, 0), rgba(29, 30, 36, 1));
    height: 107px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    button.share {
      height: 24px;
      pointer-events: all;
      position: absolute;
      right: 17px;
      top: 40px;
      width: 24px;
      z-index: 2;
    }

    button.back {
      height: 24px;
      left: 17px;
      padding: 0;
      pointer-events: all;
      position: absolute;
      top: 40px;
      width: 24px;
      z-index: 2;
    }

    a.decks {
      background-color: #1e1f25;
      border-radius: 100px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      display: block;
      left: 50%;
      padding: 10px 17px;
      pointer-events: all;
      position: absolute;
      top: 33px;
      transform: translateX(-50%);
      z-index: 2;

      span {
        margin: 0 8px;
      }

      img {
        vertical-align: bottom;
      }
    }
  }

  .home-notify {
    top: 100px !important;
  }

  .deck-container-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &.crew-only {
    #service-overlay {
      display: none;
    }
  }

  &.Navigation .DynamicDeck {
    background: linear-gradient(to bottom, #1e1f25, #343540, #1e1f25);
  }
}

@media only screen and (min-width: 768px) {
  .Home {
    &.landscape {
      &.Navigation {
        .deck-container-wrapper {
          margin: 0 0 0 auto;
          width: calc(100% - 360px);
        }
      }
    }

    .overlay {
      &.fade-enter {
        .SelectDeck {
          transform: translate(-50%, -50%);
        }

        &.fade-enter-active {
          .SelectDeck {
            transform: translate(-50%, 0%);
          }
        }
      }

      &.fade-exit {
        .SelectDeck {
          transform: translate(-50%, 0%);
        }

        &.fade-exit-active {
          .SelectDeck {
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
