@import "_themes.scss";
@import "_fonts.scss";

::placeholder {
    color: rgba(255,255,255,0.38);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
}

#root {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
    line-height: 1;
}

.imgr {
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.es {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

#error-messages {
    position: absolute;
    top: 0;
    left: 0;
    color: #f00;
    font-size: .9em;
    z-index: 50;
}

#log-messages {
    position: absolute;
    top: 0;
    left: 0;
    color: #0F0;
    font-size: .9em;
    z-index: 50;
}

button.back {
    position: absolute;
    left: 15px;
    top: 40px;
    width: 16px;
    height: 16px;
    z-index: 1;
    padding: 5px;
    box-sizing: content-box;
}

.descr {
    position: relative;

    .info {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
        font-family: 'RobotoMedium';
        line-height: 16px;

        > div {
            display: inline-block;
            vertical-align: middle;

            &.ttu {
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
        }

        span {

            &.error {
                color: rgba(255,67,67,0.6);

                .middot {
                    color: rgba(255,255,255,0.6);
                }
            }

            &.middot {
                margin: 0 8px;
            }
        }
    }

    .next-arrow {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translate(-50%, -50%);

        svg {
            display: block;
        }
    }
}

.next-arrow.disabled {
    svg > g {
        opacity: .3;
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(30,31,37,0.4);

    &.notbg {
        background-color: #0000;
        pointer-events: none;
    }

    &.fade-enter {
        opacity: 0.01;

        .HomeHint {
            transform: translateY(50%);
            opacity: 0.01;
        }

        .modal {
            transform: translate(-50%, -25%);
            opacity: 0.01;
        }

        &.fade-enter-active {
            opacity: 1;
            transition: all 350ms;

            .HomeHint {
                transform: translateY(0%);
                opacity: 1;
                transition: all 350ms ease-in-out;
            }

            .modal {
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: all 350ms ease-in-out;
            }
        }
    }

    &.fade-exit {
        opacity: 1;

        .modal {
            transform: translate(-50%, -50%);
            opacity: 1;
        }

        .HomeHint {
            transform: translateY(0%);
            opacity: 1;
        }

        &.fade-exit-active {
            opacity: 0.01;
            transition: all 350ms;

            .modal {
                transform: translate(-50%, -25%);
                opacity: 0.01;
                transition: all 350ms ease-in-out;
            }

            .HomeHint {
                transform: translateY(50%);
                opacity: 0.01;
                transition: all 350ms ease-in-out;
            }
        }
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 32px);
        background-color: #33343A;
        box-shadow: 0 1px 1px rgba(0,0,0,0.14),
                    0 2px 1px -1px rgba(0,0,0,0.12),
                    0 1px 3px rgba(0,0,0,0.2);
        color: rgba(255,255,255,0.87);
        border-radius: 4px;
        max-width: 328px;
        max-height: 80%;
        display: flex;
        flex-direction: column;

        & > .title {
            padding: 20px 16px 16px;
            font-size: 20px;
            letter-spacing: 0.15px;
            font-family: "RobotoMedium";
        }

        & > .content {
            padding: 0 16px 35px;
        }

        & > .footer {
            border-top: 1px solid rgba(255,255,255,0.06);
            padding: 8px;
            display: flex;
            justify-content: flex-end;
            min-height: 48px;
            box-sizing: border-box;

            button {
                font-family: "RobotoBold";
                letter-spacing: 1.25px;
                line-height: 16px;
                text-transform: uppercase;
                padding: 0 10px;
                margin: 0 0 0 16px;
            }
        }
    }
}

@media only screen and (min-width : 768px) {
    .overlay {

        &.fade-enter {
            .HomeHint:not(.landscape) {
                transform: translate(-50%, 50%);
            }

            &.fade-enter-active {
                .HomeHint:not(.landscape) {
                    transform: translate(-50%, 0);
                }
            }
        }

        &.fade-exit {
            .HomeHint:not(.landscape) {
                transform: translate(-50%, 0);
            }

            &.fade-exit-active {
                .HomeHint:not(.landscape) {
                    transform: translate(-50%, 50%);
                }
            }
        }
    }
}