.MyParty {
  display: flex;
  flex-direction: column;
  max-height: 316px;

  .head .name {
    margin: 0;
  }

  .content {
    flex: 1;
    overflow: auto;
  }

  .no-friend-overlay {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 80px;
    justify-content: center;
  }

  .UserItem {
    .avatar {
      margin-left: 24px;
    }

    .info {
      padding: 8px 24px 8px 0;
      padding-right: 24px;
    }

    .descr {
      flex-wrap: wrap;
    }

    .name {
      flex: 1 1 100%;
      font-size: 16px;
      line-height: 24px;
    }

    span {
      color: rgba(255, 255, 255, 0.6);
      font-family: 'RobotoMedium', sans-serif;
      font-size: 10px;
      letter-spacing: 1.5px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 768px) {
  .MyParty {
    max-height: 40%;
    max-width: 360px;
  }
}
