.NavBottom {
  bottom: -10px; // hide scroll
  display: flex;
  left: 0;
  overflow: auto;
  padding: 0 0 34px 0;
  position: absolute;
  transition: all 350ms;
  white-space: nowrap;
  width: 100%;

  @media only screen and (min-width: 768px) {
    &.landscape {
      .buttons {
        justify-content: flex-end;
      }

      .map-settings {
        .buttons {
          justify-content: flex-start;
        }
      }
    }

    &.heatmap,
    &.map-settings-open {
      .buttons {
        justify-content: flex-start;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    &.map-settings-open {
      align-items: flex-end;

      .buttons {
        align-items: flex-start;
        flex-direction: column;

        button,
        button:first-child {
          margin: 0 0 10px 20px;
        }
      }
    }

    &.heatmap {
      .sailors,
      .crew {
        display: none;
      }
    }
  }

  &.fade-enter {
    transform: translateX(100%);

    &.fade-enter-active {
      transform: translateX(0%);
    }
  }

  &.heatmap.fade-enter {
    transform: translateX(100%);

    &.heatmap.fade-enter-active {
      transform: translateX(-100%);
    }
  }

  .buttons {
    display: flex;
    flex: 1;
  }

  button {
    align-items: center;
    background-color: #333439;
    border-radius: 24px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.87);
    display: inline-flex;
    flex-shrink: 0;
    font-family: "RobotoMedium", sans-serif;
    height: 46px;
    justify-content: center;
    letter-spacing: 0.75px;
    line-height: 46px;
    margin: 0 12px 0 0;
    min-width: 124px;
    padding: 0 20px;

    span {
      /* <fix bug in safari ios 10> */
      display: inline-block;
      line-height: 0;
      vertical-align: middle;

      /* </fix bug in safari ios 10> */
    }

    svg {
      margin: 0 8px 0 0;
    }

    &.search {
      background-color: #26ccbf;
      text-transform: uppercase;

      svg {
        display: block;
        transform: rotate(90deg);
      }
    }

    &:first-child {
      margin-left: 24px;
    }

    &:last-child {
      margin-right: 24px;
    }

    &.map-settings-toggler {
      align-content: center;
      background-color: #333439;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
      display: flex;
      height: 48px;
      justify-content: center;
      margin: 0 0 0 17px;
      min-width: 0;
      padding: 0;
      pointer-events: all;
      width: 48px;

      svg {
        margin: 0;
      }
    }
  }

  &.map-mode-selected {
    .map-settings-toggler {
      svg * {
        fill: #26ccbf;
      }
    }
  }

  &.map-settings-open {
    .buttons {
      align-items: center;
      justify-content: flex-start;

      button {
        border: 2px solid transparent;
        box-sizing: content-box;
        height: 36px;
        line-height: 36px;
        text-transform: uppercase;

        &.active {
          border-color: #26ccbf;
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &.heatmap:not(.map-settings-open) {
    .map-settings-toggler {
      align-content: center;
      border-radius: 50%;
      display: flex;
      height: 48px;
      justify-content: center;
      margin: 0 0 0 17px;
      min-width: 0;
      opacity: 1;
      padding: 0;
      pointer-events: all;
      width: 48px;
    }

    .buttons {
      align-items: center;
    }

    button {
      border-radius: 6px;
      height: 40px;
      justify-content: flex-start;
      line-height: 40px;
      min-width: 165px;
      opacity: 0.5;
      padding: 0 7px;

      .icon-container {
        align-items: center;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 50%;
        display: inline-flex;
        height: 20px;
        justify-content: center;
        justify-items: center;
        margin-right: 10px;
        opacity: 0.8;
        width: 20px;

        svg {
          height: 10px;
          margin: 0;
          visibility: hidden;
          width: 14px;
        }
      }

      &.active {
        background-color: #333439;
        opacity: 1;

        .icon-container {
          opacity: 1;

          svg {
            visibility: visible;
          }
        }
      }

      &.crew {
        .icon-container {
          background: #23cf41;
        }
      }

      &.sailors {
        .icon-container {
          background: #1e6fe7;
        }
      }

      .count {
        color: #fff;
        margin: 0 0 0 auto;
      }
    }
  }
}
