.NavigationInfo {
  align-items: center;
  background-color: #33343a;
  bottom: 0;
  box-shadow:
    0 -3px 4px rgba(0, 0, 0, 0.14),
    0 -3px 3px -2px rgba(0, 0, 0, 0.12),
    0 -1px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  left: 0;
  padding: 10px 16px;
  position: absolute;
  width: calc(100% - 16px - 11px);

  svg {
    display: block;
  }

  .left {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .text-wrapper {
    display: flex;
  }

  .title {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-grow: 1;
    font-family: "RobotoBold", sans-serif;
    height: 34px;
    justify-content: center;
    letter-spacing: 1.6px;
    line-height: 16px;
    margin: 0 7px;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    background-color: var(--primaryBgColor);
    border-radius: 4px;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12),
      0 1px 3px rgba(0, 0, 0, 0.2);
    height: 36px;
    margin: 0;
    padding: 0 18px;
    text-transform: uppercase;

    &.arrived {
      margin: 0 auto;
      width: 50%;
    }
  }

  &.finished {
    button {
      margin: 0 auto;
      width: 160px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .NavigationInfo {
    left: 50%;
    max-width: 600px;
    transform: translate(-50%, 0);

    button {
      min-width: 119px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .Navigation {
    .NavigationInfo .text {
      margin: 0 18px 0 0;
    }

    button {
      margin-left: 10px;
    }
  }
}
