.Navigation {
  .elevator-screen {
    .Elevator {
      height: 100%;
      position: absolute;
      width: 100%;

      * {
        left: 0;
        margin: 0 auto;
        right: 0;
        transform: none;
        width: 140px;
      }

      .lift-tunnel {
        filter: blur(5px);
        height: 100%;
        width: 142px;
      }

      .lift-circle-bottom,
      .stair-rectangle-bottom,
      .lift-circle-top {
        height: 140px;
        transform: rotateX(60deg);
      }

      .lift-circle-bottom,
      .stair-rectangle-bottom {
        bottom: calc(20% - 35px);
      }

      .lift-circle-top {
        bottom: calc(20% - 70px + 219px);
      }

      .lift-circle-dark {
        display: none;
      }

      .lift-icon {
        bottom: 20%;
        top: auto;
      }

      .triangles {
        bottom: calc(20% + 219px + 70px);
        height: auto;
        top: auto;

        img {
          height: 60px;
          width: 60px;
        }
      }

      &.down {
        .triangles {
          bottom: auto;
          top: calc(20% + 140px);
          transform: rotateZ(180deg);
        }

        .lift-icon {
          top: 210px;
        }

        .lift-circle-top {
          top: 140px;
        }

        .stair-rectangle-bottom,
        .lift-circle-bottom {
          top: 337px;
        }
      }
    }
  }

  .NavigationInfo {
    .text {
      color: rgba(255, 255, 255, 0.87);
      font-size: 20px;
      letter-spacing: 0.36px;
      line-height: 20px;
      margin: 0 27px 0 0;
      text-align: center;

      span {
        color: rgba(255, 255, 255, 0.5);
        display: block;
        font-size: 12px;
        letter-spacing: 0.22px;
        line-height: 12px;
      }

      &:first-child {
        margin-left: 8px;
      }
    }
  }

  .navigation-notify {
    top: 117px;
    z-index: 55;
  }

  .DynamicDeck .recenter-button {
    background-size: 32px 32px;
    bottom: 88px;
    height: 56px;
    left: auto;
    right: 16px;
    top: auto;
    transform: translateX(0);
    width: 56px;
  }

  .navigation-tips-wrapper {
    background: linear-gradient(to top, rgba(30, 31, 37, 0), rgba(30, 31, 37, 1));
    height: 40%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 55;
  }

  .navigation-tips {
    align-items: center;
    display: flex;
    font-family: "RobotoMedium", sans-serif;
    font-size: 30px;
    justify-content: center;
    left: 50%;
    padding: 0 15%;
    position: absolute;
    text-align: center;
    top: 50px;
    transform: translateX(-50%);
    width: calc(100% - 15%);
    z-index: 1;

    img {
      margin: 0 20px 0 0;
    }

    .text {
      font-size: 20px;
    }
  }

  .deck-info {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 0 100px 100px 0;
    bottom: 88px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.87);
    font-family: "RobotoMedium", sans-serif;
    left: 0;
    letter-spacing: 0.75px;
    padding: 10px 24px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .Navigation {
    &.landscape {
      .navigation-tips {
        font-size: 20px;
        top: 20px;

        .text {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Navigation {
    &.landscape {
      .navigation-tips-wrapper {
        background-color: rgba(30, 31, 37, 0.3);
        height: 100%;
        width: 360px;
      }

      .navigation-tips {
        flex-direction: column;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
          margin: 0 0 40px 0;
        }
      }

      .deck-info {
        bottom: 33px;
        left: 360px;
      }

      .NavigationInfo {
        background: #0000;
        box-shadow: none;
        flex-wrap: wrap;
        left: 0;
        padding: 10px 16px 35px 16px;
        transform: translate(calc(-50% + 180px), 0);
        width: calc(360px - 32px);
        z-index: 55;

        .text-wrapper {
          flex: 1 1 100%;
          margin: 0 0 25px 0;
        }

        .title {
          justify-content: center;
          margin: 0 16px 0 8px;
          min-width: 126px;
        }

        button {
          min-width: 140px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Navigation {
    .navigation-tips {
      font-size: 24px;
      top: 35px;

      img {
        height: 35px;
      }

      .text {
        font-size: 16px;
      }
    }
  }
}
