.Player {
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: content-box;
  display: block;
  height: 8px;
  margin: -3px 0 0 -3px;
  pointer-events: auto;
  position: absolute;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  width: 8px;
  z-index: 240;

  &.sailor {
    background: #1e6fe7;
    border-color: #fff;
  }

  &.crew {
    background: #23cf41;
    border-color: #fff;
  }
}
