.Restrooms {
  .buttons {
    display: flex;
  }

  button {
    &.big {
      background-color: #434349;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
      display: block;
      height: 48px;
      transition: all 170ms;
      width: 39.25%;

      svg {
        opacity: 0.5;
        transition: all 170ms;
      }

      &.active {
        background-color: var(--primaryBgColor);

        svg {
          opacity: 1;
        }
      }
    }

    &.man {
      border-radius: 4px 0 0 4px;
    }

    &.women {
      border-radius: 0 4px 4px 0;
    }

    &.dis {
      border: 1px solid rgba(230, 230, 231, 0.1);
      border-radius: 4px;
      height: 48px;
      margin: 0 0 0 auto;
      width: 48px;

      &.active {
        border: 2px solid var(--primaryBgColor);

        svg {
          path {
            fill: var(--primaryBgColor);
          }

          g {
            fill-opacity: 1;
          }
        }
      }
    }

    &.find-restroom {
      display: flex;
      justify-content: center;
      min-width: 146px;
    }
  }
}
