.Search {
  align-items: center;
  background-color: #1e1f25;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.Search,
.search-component__result {
  .search-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  button.test {
    position: fixed;
    right: 20%;
    top: 0%;
    z-index: 20;
  }

  .input-wrap {
    align-items: center;
    background-color: #33343a;
    display: flex;
    position: relative;

    input {
      background-color: #33343a;
      border: 0;
      box-shadow:
        0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.24);
      color: #fff;
      flex: 1;
      font-size: 16px;
      height: 56px;
      outline: 0;
      padding: 0 56px;

      &:focus {
        background-color: #54575f;
      }

      &:-webkit-autofill {
        background-color: #33343a;

        &:focus {
          background-color: #54575f;
        }
      }
    }

    .loader {
      bottom: auto;
      left: auto;
      position: absolute;
      right: 16px;
      top: auto;
    }
  }

  a.back,
  button.reset {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;

    svg {
      display: block;
    }
  }

  button.reset {
    left: auto;
    right: 16px;

    svg rect {
      fill: #fff;
      opacity: 1;
    }
  }

  .search-notify {
    margin-top: 16px;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
  }

  .categories {
    padding: 0 0 30px 0;

    &.appear-enter {
      opacity: 0;
      transform: translateY(100%);

      &.appear-enter-active {
        opacity: 1;
        transform: translateY(0%);
        transition: all 300ms;
      }
    }

    &.appear-exit {
      opacity: 1;
      transform: translateY(0%);

      &.appear-exit-active {
        opacity: 0;
        transform: translateY(100%);
        transition: all 300ms;
      }
    }

    .head {
      color: rgba(255, 255, 255, 0.9);
      display: flex;
      font-size: 12px;
      justify-content: space-around;
      letter-spacing: 0.07px;
      line-height: 13px;
      margin: 8px 16px;
      padding: 5px 0;

      span {
        display: block;

        svg {
          display: block;
          margin: 0 auto 7px;
        }
      }

      button {
        height: 52px;
        min-width: 70px;
      }
    }
  }

  .container {
    align-content: stretch;
    background-color: #33343a;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 8px 16px;
    padding: 14px 0 0;

    &::after {
      content: '';
      flex: auto;
    }

    .title {
      color: rgba(255, 255, 255, 0.9);
      flex: 1 1 100%;
      font-weight: normal;
      margin: 0;
      padding: 0 0 16px 16px;
    }

    .cat {
      align-items: center;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      margin: 0 0 20px 0;
      padding: 0 6px;
      width: calc(25% - 12px);
    }

    .img-wrap {
      display: inline-flex;
      height: 80px;
      margin: 0 auto;
      position: relative;

      &.empty {
        height: 80px;

        img {
          margin-top: -8px;
        }
      }

      span.count {
        align-items: center;
        background-color: #fe7474;
        border: 1px solid #fff;
        border-radius: 50%;
        bottom: 28%;
        box-shadow:
          inset 0 1px 2px rgba(0, 0, 0, 0.5),
          0 1px 1px rgba(0, 0, 0, 0.21),
          0 3px 6px rgba(0, 0, 0, 0.36);
        color: rgba(255, 255, 255, 0.9);
        display: flex;
        font-size: 9px;
        height: 15px;
        justify-content: center;
        left: 63%;
        position: absolute;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        width: 15px;
      }
    }

    .name {
      color: #fff;
      font-size: 11px;
      margin: -8px auto 0;
      text-align: center;
    }
  }

  .contacts {
    display: flex;
    overflow: auto;
    padding: 0 0 8px 8px;

    .item {
      border: none;
      font-size: 11px;
      height: 90px;
      margin: 0 8px;
      width: 60px;

      &.disable {
        opacity: 0.3;
      }

      .img {
        background-size: cover;
        border-radius: 50%;
        display: block;
        height: 40px;
        margin: 0 auto;
        width: 40px;
      }

      .name {
        display: block;
        height: 22px;
        margin-top: 8px;
      }
    }
  }

  .results {
    border-radius: 2px;

    &.appear-enter {
      opacity: 0;
      transform: translateY(-100%);

      &.appear-enter-active {
        opacity: 1;
        transform: translateY(0%);
        transition: all 300ms;
      }
    }

    &.appear-exit {
      opacity: 1;
      transform: translateY(0%);

      &.appear-exit-active {
        opacity: 0;
        transform: translateY(-100%);
        transition: all 300ms;
      }
    }

    .fast-filter {
      display: flex;
      flex-wrap: nowrap;
      height: 32px;
      justify-items: flex-start;
      overflow: auto;
      padding: 12px 0 12px 8px;

      .filter-tag {
        background: none;
        border: none;
        border-radius: 16px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        display: inline-flex;
        flex-shrink: 0;
        height: 32px;
        justify-content: center;
        margin: 0 8px 0 0;
        min-width: 52px;
        padding: 0 10px 0 10px;

        &.active {
          background: var(--primaryBgColor);
        }
      }
    }

    .category {
      background-color: #33343a;
      box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12),
        0 1px 3px rgba(0, 0, 0, 0.2);
      padding: 0 0 20px 0;

      .title {
        background: #2a2a31;
        font-size: 10px;
        font-weight: normal;
        margin: 0 0 16px 0;
        padding: 8px 16px;
        text-transform: uppercase;
      }

      .text {
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
      }

      .content {
        overflow-y: visible;
      }

      .show-all {
        border: none;
        color: #fff;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        padding: 4px 16px 0;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        .next-arrow {
          align-self: flex-end;
        }
      }
    }

    .item {
      align-items: center;
      display: flex;
      height: 57px;

      &.disable {
        opacity: 0.3;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }

      .avatar {
        border: 0 solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        height: 24px;
        margin: 0 16px;
        overflow: hidden;
        position: relative;
        width: 24px;

        img {
          height: 24px;
          width: 24px;
        }

        span {
          display: block;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);

          svg {
            display: block;
          }
        }
      }

      &-user {
        .avatar {
          background-color: #ccc;
        }
      }

      .descr {
        background-position: right 18px center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        box-sizing: border-box;
        flex: 1;
        height: 100%;
        padding: 8px 0;
      }

      .add-user,
      .is-party {
        display: block;
        font-size: 22px;
        position: absolute;
        right: 45px;
        text-align: center;
        top: 13px;
        width: 30px;
      }

      .name {
        color: rgba(255, 255, 255, 0.87);
        font-size: 16px;
        letter-spacing: 0.35px;
        line-height: 24px;

        &.crew-only {
          color: rgba(255, 255, 255, 0.6);
          font-size: 14px;
        }
      }

      .name,
      .info {
        max-width: calc(100% - 40px);
      }

      .name.crew-only,
      .name.crew-only + .info {
        max-width: calc(100% - 80px);
      }

      .name,
      .info .cat {
        span {
          background-color: #e51930;
          border-radius: 4px;
        }
      }
    }
  }

  .results__placeholder {
    color: #fff;
    font-size: 16px;
    margin: 25vh 0;
    padding: 0 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .Search {
    .search-inner {
      height: 93%;
      max-width: 584px;
    }
  }
}
