.SelectDeck {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66.66%;
    z-index: 2;
    border-radius: 0 0 16px 16px;
    background-color: rgb(51, 52, 58);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;

    svg {
        display: block;
    }

    .head {
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        display: flex;
        align-items: center;
        padding: 12px 16px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: rgba(255, 255, 255, 0.87);

        .near {
            margin-right: 15px;
        }

        .near,
        svg {
            width: 14px;
            height: auto;
        }

        .close {
            margin: 0 0 0 auto;
        }
    }

    .content {
        padding: 0;
        flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .item {
        display: flex;
        align-items: center;
        padding: 0 24px 0 0;

        &.active {
            background-color: rgb(30, 31, 37);
        }
    }

    .active-icon {
        width: 10px;
        margin: 0 5px 0 10px;

        span,
        svg {
            width: 100%;
            height: auto;

            polygon {
                fill: #4285F4;
            }
        }
    }

    .number {
        font-family: "RobotoMedium";
        font-size: 24px;
        color: rgba(255, 255, 255, 0.87);
        margin: 0 13px 0 0;
        width: 30px;
        text-align: center;
        line-height: 24px;
    }

    .right {
        display: flex;
        align-items: center;
        flex: 1;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        padding: 15px 0;
    }

    .venues {
        font-size: 11px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.87);
        flex: 1;
        min-height: 34px;
        display: flex;
        align-items: center;
    }

    .icons {
        width: 34px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
        align-items: flex-start;

        span {
            width: 14px;
            height: 14px;

            &:nth-child(odd) {
                margin-right: 6px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 3px;
            }
        }

        svg {
            width: 14px;
            height: 14px;
            opacity: 0.5;
        }
    }

}

@media only screen and (min-width : 768px) {

    .SelectDeck {
        max-width: 360px;
        left: 50%;
        top: 24px;
        transform: translate(-50%, 0);
        height: 70%;
    }

}