.UserItem {
  align-items: center;
  display: flex;
  height: 57px;

  &.disable {
    opacity: 0.3;
  }

  .avatar {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 32px;
    margin: 0 16px 0 0;
    overflow: hidden;
    position: relative;
    width: 32px;
  }

  img {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    flex: 1;
    padding: 17px 0;
  }

  .descr {
    display: flex;
    flex: 1;
  }

  .name {
    flex: 1;
  }

  .cabin {
    letter-spacing: 2.1px;
  }

  .next-arrow {
    display: block;
    margin: 0 0 0 15px;
  }
}
