.Venue {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: auto;
  position: absolute;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  z-index: 250;

  &.service {
    opacity: 0.4;

    &.cabin {
      pointer-events: none;
    }

    &.elevator {
      opacity: 1;
    }

    .venue-icon {
      transform: scale(0.6);
    }
  }

  &.cabin {
    .venue-icon {
      display: none;
    }

    .venue-label {
      color: #e4ede4;
      margin-top: 0;
      text-shadow: 0 1px rgba(0, 0, 0, 0.6);
    }
  }

  &.vertical-cabin {
    .venue-label {
      font-size: 9px;
    }
  }

  .venue-icon-container {
    display: flex;
    flex-direction: column;
    position: relative;
    transform-origin: 50% 50%;
    transition: opacity 0.8s;
  }

  .venue-icon-destination {
    left: 50%;
    position: absolute;
    top: -65px;
    transform: translate(-50%, 0);
  }

  .venue-icon {
    display: inline-block;
    display: flex;
    // background-color: red;
    // width: 24px;
    height: 24px;
    margin: 0 auto;
    vertical-align: middle;

    span {
      border-radius: 50%;
      height: 24px;
      width: 24px;

      &.bd {
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
      }

      &:not(:first-child) {
        margin-left: -7px;
      }
    }

    &.crewonly {
      .bd {
        border-color: transparent;
        box-shadow: none;
      }
    }

    svg {
      display: block;
      margin: 0 auto;

      path {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
        fill: #fff;
      }
    }
  }

  .venue-label {
    font-size: 10.5px;
    letter-spacing: 0.5px;
    line-height: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    max-width: 57px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);

    &.bliss {
      color: #002128;
      font-family: 'Gotham Condensed', sans-serif;
      font-size: 15px;
      line-height: 15px;
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  &.perspective {
    .venue-label {
      margin-top: 3px;
    }
  }

  .Elevator {
    width: 20px;

    .lift-tunnel {
      height: 75px;
      margin: 0 auto;
      transform: rotateX(180deg);
      width: 90%;
    }

    .triangles {
      left: 0;
      right: 0;
      transform: translateY(-20px);

      img {
        width: 10px;
      }
    }

    .lift-icon {
      top: 17px;
      transform: translateY(-10px);
      width: 100%;
    }

    .lift-circle-top,
    .lift-circle-bottom,
    .stair-rectangle-bottom {
      width: 100%;
    }

    .lift-circle-bottom {
      transform: translateY(25px);
    }

    &.down {
      .triangles {
        transform: rotateZ(180deg) translateY(50px);
      }
    }

    .lift-circle-dark {
      display: none;
    }
  }
}
