.VenueInfoBox {
    z-index: 250;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
    display: flex;
    pointer-events: auto;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    width: 160px;
    min-height: 35px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

    .occupancy {
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.1);
        border-top: 3px solid #fff;

        &.green {
            border-color: #83e66c;
        }

        &.yellow {
            border-color: #e2e92a;
        }

        &.orange {
            border-color: #e9ae0d;
        }

        &.red {
            border-color: #e51f1f;
            background-color: rgba(255, 0, 0, 0.2);
        }
    }

    .title {
        font-size: 16px;
        position: relative;
        z-index: 250;
    }

    .info {
        display: flex;
        align-items: flex-end;
        padding-top: 5px;

        .total-count {
            font-size: 22px;
            line-height: 22px;
            position: relative;
            z-index: 250;
        }

        .crew-count {
            font-size: 22px;
            line-height: 22px;
            position: relative;
            z-index: 250;
            margin-left: 14px;
        }

        .indicator {
            display: inline-flex;
            flex-wrap: wrap;
            width: 8px;
            align-items: flex-end;
            align-self: flex-start;
            height: 20px;
            margin-left: 10px;

            i {
                width: 5px;
                height: 5px;
                display: block;
                border: 2px solid #fff;
                border-bottom: none;
                border-left: none;
                transform: rotate(130deg);
            }
        }
    }

    @media only screen and (max-width : 767px) {
        & {
            width: 110px;
            margin-left: 30px;
            margin-top: -20px;

            .title {
                font-size: 14px;
            }

            .total-count, .crew-count {
                font-size: 20px;
                line-height: 20px;
            }

            &#venue-info-box-8 {
                margin-top: -25px;
            }

            &#venue-info-box-25 {
                margin-top: -25px;
            }

            &#venue-info-box-3715 {
                margin-left: 20px;
            }
        }
    }
}
