.deck-buttons {
  --deck-buttons-right: 28px;
  --deck-buttons-recenter-size: 48px;

  &__btn {
    position: fixed;
    right: var(--deck-buttons-right);

    &--select {
      bottom: 222px;
    }
  
    &--overview {
      bottom: 168px;
    }
  
    &--resenter {
      --deck-buttons-right: 24px;
      width: var(--deck-buttons-recenter-size);
      height: var(--deck-buttons-recenter-size);
      bottom: 104px;
    }
  
    &--navigation {
      --deck-buttons-right: 16px;
      --deck-buttons-recenter-size: 56px;
      width: var(--deck-buttons-recenter-size);
      height: var(--deck-buttons-recenter-size);
      background-size: 32px 32px;
      bottom: 88px;
      left: auto;
      top: auto;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  &--theme-bliss {
    --deck-buttons-right: 20px;
    --deck-buttons-recenter-size: 45px;
  }

  &--theme-bliss &__btn {
    $initialBottom: 20px;
    $buttonHeight: 45px;
    $buttonMargin: 8px;

    &--select {
      bottom: $initialBottom + ($buttonHeight + $buttonMargin) * 3;
    }

    &--info {
      bottom: $initialBottom + ($buttonHeight + $buttonMargin) * 2;
    }
  
    &--overview {
      bottom: $initialBottom + $buttonHeight + $buttonMargin;
    }
  
    &--resenter {
      --deck-buttons-right: 20px;
      bottom: $initialBottom;
    }
  }
}
