.search-wrapper {
  position: relative;
  width: 100%;

  &,
  & * {
    box-sizing: border-box;
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 12px;

    svg {
      width: 20px;
      height: 20px;
      fill: #757a81;
    }
  }

  input {
    border: 1px solid #757a81;
    outline: none;
    line-height: 42px;
    padding: 0 10px 0 44px;
    font-size: 18px;
    color: #757a81;
    width: 100%;

    &::placeholder {
      color: #757a81;
      font-size: 12px;
      transform: translateY(-2px);
    }
  }
}
