.search-component {
  height: 100%;
  display: flex;
  flex-direction: column;

  &,
  & * {
    box-sizing: border-box;
  }

  &__header {
    position: relative;
    padding: 45px 30px 10px;

    &__del-btn {
      position: absolute;
      top: 6px;
      right: 10px;
    }
  }

  &__result {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;

    & * {
      box-sizing: content-box;
    }

    .results__placeholder {
      color: rgba(30, 31, 37, 1);
      font-size: 16px;
      margin: 25vh 0;
      padding: 0 10px;
      text-align: center;
    }
  }

  &__modal-fix-wrapper { // need to rewrite modals component
    &,
    & * {
      box-sizing: content-box;
    }

    .modal input {
      caret-color: #000;
      color: rgba(30, 31, 37, 1);

      &::placeholder {
        color: rgba(30, 31, 37, 0.5);
      }
    }
  }
}
