$fontColor: #74787d;

.venue-info {
  pointer-events: all;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.14);
  color: $fontColor;

  &__header {
    position: relative;
    padding: 20px 40px;
    border-bottom: 1px solid #f4f4f4;

    &__close-btn {
      position: absolute;
      right: 20px;
      top: 10px;
    }

    &__row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      font-weight: normal;

      & + & {
        margin-top: 25px;
      }

      &__cell {
        flex-grow: 1;
        display: flex;
        align-items: center;

        &--title {
          font-weight: bold;
        }

        &--open {
          justify-content: flex-end;
          padding-right: 20px;
        }
      }
    }

    &__muster-icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 10px;

      svg {
        fill: $fontColor;
      }
    }

    &__deck-icon {
      display: inline-block;
      width: 18px;
      height: 19px;
      margin-right: 15px;

      svg path {
        fill: $fontColor;
      }
    }
  }

  &__body {
    padding: 28px 10px 10px;
    display: flex;

    &__block {
      width: calc(50% - 20px);
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 120px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #d8d8d8;
      display: block;
    }
  }

  &__direction-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    background-color: #3b3d40;
    color: white;

    &__title {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &__time {
      font-size: 10px;
      min-height: 10px;
    }
  }

  &__details-btn {
    font-size: 14px;
    color: $fontColor;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
  }
}