
.VenueInfo {
    pointer-events: all;

    .content {
      .info-wrap {
        display: flex;
        justify-content: space-between;
        padding: 20px 24px 24px;

        button {
          border-radius: 4px;
          color: rgba(255, 255, 255, 0.87);
          height: 64px;
          margin: 0 0 0 10px;
          min-width: 125px;

          &:not(.here) {
            background-color: var(--primaryBgColor);
            font-size: 10px;
          }

          &.here {
            background-color: #0000;
            border: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 14px;

            svg {
              height: 11px;
              opacity: 0.6;
              width: 12px;
            }
          }

          span {
            display: block;
            font: 14px/16px 'RobotoBold', sans-serif;
            letter-spacing: 1.25px;
            margin: 0 0 2px;
            text-transform: uppercase;
          }
        }
      }

      .info {
        color: rgba(255, 255, 255, 0.87);
        white-space: nowrap;

        svg {
          display: block;
        }
      }

      .deck,
      .work {
        display: flex;

        span {
          display: block;
        }
      }

      .deck span {
        margin: 0 19px 20px 0;
      }

      .work span {
        margin-right: 18px;
      }
    }

    .images-wrap {
      background: rgba(255, 255, 255, 0.06);
      margin: 0 0 16px;
      overflow: auto;
      padding: 0 24px;

      img {
        display: block;
        flex-shrink: 0;
        height: 128px;
        margin: 8px 8px 8px 0;
      }
    }

    .images-innner {
      display: inline-flex;
    }
  }

  @media only screen and (min-width: 768px) {
    .VenueInfo:not(.landscape) {
      .images-wrap {
        img {
          height: 211px;
        }
      }
    }
  }
