.deck-button {
  --deck-button-background: rgba(255, 255, 255, 0.5);
  --deck-button-shadow: none;
  --deck-button-size: 40px;
  --deck-button-fill: #fff;

  &--theme-light,
  &--theme-bliss {
    --deck-button-background:: #fff;
    --deck-button-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 24px rgba(0, 0, 0, 0.1);
    --deck-button-fill: rgba(30, 31, 37, 0.87);
  }

  &--theme-bliss {
    --deck-button-size: 45px;
  }

  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--deck-button-background);
  box-shadow: var(--deck-button-shadow);
  width: var(--deck-button-size);
  height: var(--deck-button-size);

  svg {
    display: block;

    path {
      fill: var(--deck-button-fill);
    }
  }
}
