.no-connection-icon {
  margin: 10px;
  display: inline-block;

  &,
  & svg {
    height: 20px;
    width: 20px;
  }

  &--theme-light,
  &--theme-bliss {
    svg path {
      fill: black;
    }
  }
}
