.tv {
  .CatalogTV {
    background-color: #0b0b0b;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 62.5%;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 37.5%;
    width: 100%;
    z-index: 5;

    .nav {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 60px;
      margin-bottom: 35px;
      padding: 0 360px;
      position: absolute;
      top: -50px;
      width: 100%;
      z-index: 10;

      button {
        backface-visibility: hidden;
        color: rgba(255, 255, 255, 0.6);
        display: inline-flex;
        font-size: 41px;
        font-weight: bold;
        margin-right: 70px;
        position: relative;

        &.overview-button {
          align-items: center;
          backface-visibility: hidden;
          background-color: #fff;
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 24px;
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
          color: rgba(11, 11, 11, 0.7);
          font-family: "RobotoBold", serif;
          font-size: 12px;
          justify-content: space-between;
          left: 32px;
          margin: 5px 0 0 0;
          opacity: 0.6;
          position: absolute;
          text-transform: uppercase;
          width: 138px;

          .icon {
            display: inline-flex;
            height: 31px;
            margin: 0 0 20px 10px;

            svg {
              display: block;
              height: 31px;
              transform: rotate(90deg);
              width: 29px;

              path {
                fill: #0b0b0b;
              }
            }
          }

          &__minus {
            svg {
              transform: rotate(0) scaleX(-1) !important;
            }
          }

          span.text {
            margin-right: 15px;
          }

          &#zoom-in-right {
            left: auto;
            right: 32px;
          }
        }

        &.restrooms {
          margin-left: 10%;
        }

        &.active {
          color: rgba(255, 255, 255, 1);

          &::after {
            background-color: #fff;
            border-radius: 4px;
            bottom: -20px;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            width: 100%;
          }

          span svg {
            polygon,
            path {
              fill: rgba(255, 255, 255, 1);
            }
          }
        }

        span {
          svg {
            display: block;
            height: 32px;
            margin-top: 10px;

            polygon,
            path {
              fill: rgba(255, 255, 255, 0.6);
            }
          }

          &.cabins svg {
            width: 32px;
          }

          &.restroom svg {
            width: 26px;
          }
        }
      }

      .login {
        animation: fade-in 0.3s ease-in-out;
        display: flex;
        position: absolute;
        right: 410px;
        top: 5px;
        width: 260px;
        z-index: 100;

        .login-as {
          backface-visibility: hidden;
          color: rgba(255, 255, 255, 0.6);
          display: block;
          font-size: 41px;
          font-weight: bold;
          width: 600px;
        }

        .title {
          color: #fff;
          font-size: 41px;
          font-weight: bold;
          opacity: 0.6;
          padding: 24px 0 24px 0;
          text-align: center;
        }

        .icons {
          align-items: center;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 34px;
          color: #fff;
          display: flex;
          font-size: 16px;
          height: 58px;
          min-width: 58px;
          position: relative;

          .item {
            display: flex;
            flex: 1 1 auto;
            height: 58px;
            width: 48px;

            &.more {
              align-items: center;
              backface-visibility: hidden;
              justify-content: flex-end;
              padding-right: 10px;
              width: 130px;
            }

            .img {
              backface-visibility: hidden;
              background-size: cover;
              border-radius: 50%;
              flex: none;
              height: 58px;
              width: 58px;
            }
          }
        }

        &.personal {
          align-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          top: 5px;

          .title {
            align-content: space-between;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            width: 355px;

            .name {
              flex: 1;
              overflow: hidden;
              text-align: right;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 250px;
            }

            .image {
              box-sizing: border-box;
              flex: 1 1 90px;
              max-width: 54px;
            }
          }

          &.active {
            .title,
            .image {
              opacity: 1;
            }

            .title::after {
              background: #fff;
              border-radius: 4px;
              content: "";
              display: block;
              height: 8px;
              margin-top: 7px;
              width: 100%;
            }

            &.personal .title::after {
              background-color: transparent;
            }
          }

          .image {
            align-self: center;
            height: 54px;
            margin-left: 24px;
            opacity: 0.6;
            width: 54px;

            .img {
              background-size: cover;
              border-radius: 50%;
              height: 54px;
              width: 54px;
            }
          }

          .buttons {
            display: flex;
            flex-direction: column;
            margin-top: 68px;
            width: 135px;

            button {
              background: #fff;
              border-radius: 25px;
              color: #0b0b0b;
              display: block;
              font-size: 12px;
              font-weight: bold;
              line-height: 50px;
              margin: 0 0 30px 0;
              text-align: center;
              text-transform: uppercase;
              width: 100%;
            }
          }
        }
      }

      .login-modal {
        backface-visibility: hidden;
        background-color: #272727;
        border-radius: 24px;
        box-shadow: 0 30px 40px 10px rgba(0, 0, 0, 0.41), inset 0 0 1px 0 rgba(255, 255, 255, 0.21);
        height: 350px;
        position: absolute;
        right: 330px;
        top: -50px;
        width: 256px;
        z-index: 100;

        @keyframes onError {
          25% { transform: translateX(10px); }
          50% { transform: translateX(-10px); }
          75% { transform: translateX(10px); }
          100% { transform: translateX(0); }
        }

        .outside {
          height: 100vh;
          left: 0;
          position: fixed;
          top: 0;
          width: 100vw;
          z-index: 0;
        }

        .inside {
          animation: fade-in 0.3s ease-in-out;
          backface-visibility: hidden;
          background-color: #272727;
          border-radius: 24px;
          position: relative;
          z-index: 10;
        }

        &.pincode {
          height: 426px;
        }

        &.error {
          animation: onError 0.3s ease-in;
        }

        .title {
          backface-visibility: hidden;
          border-top-left-radius: 24px;
          border-top-right-radius: 24px;
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          padding: 24px 0 24px 0;
          text-align: center;

          .image {
            backface-visibility: hidden;
            text-align: center;

            .img {
              backface-visibility: hidden;
              background-size: cover;
              border-radius: 50%;
              height: 73px;
              margin: 0 auto;
              width: 73px;
            }
          }

          .welcome {
            padding: 16px 0 5px 0;
          }

          .note {
            backface-visibility: hidden;
            font-size: 12px;
            font-weight: normal;
            opacity: 0.4;

            &.error {
              color: #ff3636;
              opacity: 0.6;
            }
          }
        }

        .icons {
          align-content: flex-start;
          display: flex;
          flex-wrap: wrap;
          height: 207px;
          justify-content: flex-start;
          padding: 0 20px 20px 20px;

          .item {
            flex: 1 0 56px;
            height: 56px;
            margin: 0 8px 16px 8px;
            max-width: 56px;
            width: 56px;

            .img {
              backface-visibility: hidden;
              background-size: cover;
              border-radius: 50%;
              height: 56px;
              width: 56px;
            }
          }
        }

        .pincode {
          display: flex;
          flex-wrap: wrap;
          height: 169px;
          justify-content: center;
          padding: 0 20px 20px 20px;

          .code {
            display: flex;
            height: 10px;
            justify-content: space-between;
            justify-self: center;
            margin: 0;
            padding: 0;
            width: 88px;

            li {
              backface-visibility: hidden;
              border: 1px solid #fff;
              border-radius: 50%;
              height: 8px;
              list-style: none;
              width: 8px;

              &.active {
                background: #fff;
              }
            }
          }

          .keyboard {
            display: flex;
            flex-wrap: wrap;
            height: 115px;
            justify-content: flex-end;
            margin: 0;
            padding: 32px 0 32px 0;
            width: 100%;

            li {
              border-radius: 2px;
              color: #fff;
              flex: 1 1 64px;
              font-size: 22.7px;
              font-weight: 300;
              height: 32px;
              list-style: none;
              margin: 0;
              padding: 0;
              text-align: center;

              @keyframes background-fade {
                0% {
                  background: rgba(255, 255, 255, 0);
                }

                100% {
                  background: rgba(255, 255, 255, 0.1);
                }
              }

              &.fade-enter-done {
                animation: background-fade 0.3s linear;
                animation-fill-mode: none;
              }
            }
          }
        }

        .cancel {
          background-color: #2f2f2f;
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
          color: #fff;
          display: block;
          font-size: 12px;
          font-weight: bold;
          height: 48px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }

    .tab-content {
      flex: 1;
      margin-top: 60px;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 9;

      .gradient {
        background: linear-gradient(to top, rgba(11, 11, 11, 0), rgba(11, 11, 11, 1));
        height: 186px;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }

    .tab-content-inner {
      animation: fade-in 0.5s ease;

      .title {
        align-items: center;
        display: flex;
        font-family: "RobotoMedium", serif;
        font-size: 38px;
        margin: 0 0 30px 0;
        padding: 0 80px;

        span {
          svg {
            display: block;
            height: 40px;
            margin-right: 25px;
            width: 40px;

            path {
              fill: #33343a;
            }
          }
        }
      }
    }

    .category-wrapper {
      flex: 0 0 auto;
      margin-bottom: 90px;

      &:first-child {
        margin-top: 60px;
      }
    }

    .category-content {
      display: flex;

      .item {
        flex: 0 0 auto;
        margin: 0 64px 0 0;
        width: 280px;

        &:first-child {
          margin-left: 100px;
        }
      }

      .images-wrapper {
        display: flex;
        height: 180px;
        position: relative;

        .image-container {
          border-radius: 16px;
          height: 100%;
          overflow: hidden;
          width: 100%;
        }
      }

      .image-container {
        overflow: hidden;
        position: relative;

        img {
          display: block;
          left: 50%;
          max-height: 100%;
          min-height: 100%;
          min-width: 100%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .descr {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'RobotoMedium', serif;
        font-size: 12px;
        line-height: 16px;
        padding: 0 20px;

        .name {
          backface-visibility: hidden;
          color: #fff;
          font-size: 24px;
          letter-spacing: 0.5px;
          line-height: normal;
          margin: 25px 0 2px 0;
        }

        .info > div {
          backface-visibility: hidden;
          color: rgba(255, 255, 255, 0.7);
          margin-right: 15px;
        }
      }
    }

    .category-content-inner {
      display: inline-flex;

      /* overflow-x: auto; */
    }
  }

  .TVHome.landscape .catalog {
    opacity: 1;
    transition: opacity ease 1s;

    .categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;

      .category-item {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 22px;
        opacity: 0.7;
        position: relative;
        width: 75px;

        .category-icon {
          display: flex;
          justify-content: center;
          left: 0;
          margin: 0 auto 10px auto;
          position: absolute;
          right: 0;

          svg {
            height: 50px;
            width: 50px;
          }

          &.background svg {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }
        }

        .count {
          align-items: center;
          background: #fe7474;
          border: 1px solid #fff;
          border-radius: 50%;
          color: #fff;
          display: flex;
          font-size: 10px;
          height: 16px;
          justify-content: center;
          left: 40px;
          margin: 0 auto;
          position: absolute;
          right: 0;
          top: 33px;
          width: 16px;
        }

        .category-title {
          color: #fff;
          font-size: 15px;
          margin: 60px 0 0 0;
          text-align: center;
        }

        &#category-wrapper-10 {
          width: 105px;
        }

        &.active {
          opacity: 1;

          .category-icon.background svg {
            filter: blur(30px);
            opacity: 1;
            transform: scale(1.6, 2);
          }
        }
      }
    }

    .venues {
      height: 250px;
      position: relative;

      &::before,
      &::after {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 00));
        content: "";
        display: block;
        height: 260px;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 300px;
        z-index: 10;
      }

      &::after {
        background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 00));
        right: 0;
      }

      &.isTheStart::before,
      &.isTheEnd::after {
        display: none;
      }

      .venues-wrapper {
        display: flex;
        position: relative;

        &.transition {
          transition: transform 0.5s ease-out;
        }

        .BrainhubCarousel__track {
          display: flex;
          flex-wrap: nowrap;
          height: 240px;
          margin: 0;
          padding: 0;

          .BrainhubCarouselItem {
            height: 180px;
            margin: 0;
          }
        }

        .item {
          flex: 0 0 auto;
          margin: 0 32px 0 32px;
          width: 280px;

          &:first-child {
            margin-left: 40px;
          }

          .images-wrapper {
            display: flex;
            height: 180px;
            position: relative;
            margin: auto;

            .image-container {
              border-radius: 16px;
              height: 100%;
              overflow: hidden;
              width: 100%;
            }

            .category-icon {
              bottom: -20px;
              left: calc(50% - 12px);
              position: absolute;

              svg {
                height: 24px;
                width: 24px;
              }
            }
          }

          .image-container {
            overflow: hidden;
            position: relative;

            img {
              display: block;
              left: 50%;
              max-height: 100%;
              min-height: 100%;
              min-width: 100%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .descr {
            color: rgba(255, 255, 255, 0.7);
            font-family: 'RobotoMedium', serif;
            font-size: 16px;
            line-height: 16px;
            padding: 0 20px;
            text-align: center;

            .name {
              backface-visibility: hidden;
              color: #fff;
              font-size: 21px;
              letter-spacing: 0.5px;
              line-height: normal;
              margin: 20px 0 5px 0;
            }

            .info > div {
              backface-visibility: hidden;
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              margin-right: 10px;

              &:last-child {
                border-left: 1px solid rgba(255, 255, 255, 0.7);
                margin: 0;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  .TVHome.landscape .CatalogTV {
    height: calc(100% - 55% - 100px);
    top: calc(55% + 100px);
    transition: height, top 0.5s ease;

    .nav {
      margin-top: 35px;
    }

    .category-wrapper {
      margin-top: 50px;
    }

    .tab-content {
      .gradient {
        margin-top: -98px;
      }
    }
  }

  .TVHome.zoom-in {
    .CatalogTV {
      height: calc(50% - 120px);
      top: calc(50% + 120px);

      .nav {
        margin-top: 60px;
      }

    }
  }

  .TVHome.landscape.zoom-in {
    .CatalogTV {
      height: 80%;
      top: calc(80% + 115px);

      .nav {
        margin-top: 60px;
      }

      .catalog {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

@import "Catalog-media";
