@media (max-width: 1279px) {
  .tv {
    .TVHome {
      .CatalogTV {
        .nav {
          margin-top: 5px;
          padding: 0 180px;

          button {
            font-size: 28px;
            margin-right: 25px;

            &.active::after {
              bottom: -15px;
            }

            &.overview-button {
              font-size: 12px;
              width: 120px;
              margin-right: 20px;

              .icon {
                height: 20px;
                margin: 0 0 20px 10px;
              }
            }

            &.restrooms {
              margin-left: 0;
            }
          }
        }

        .login {
          right: 26px;
          top: 15px;
          width: 160px;

          &.personal {
            .title {
              font-size: 28px;
              width: 190px;

              .image {
                margin-top: -5px;
              }
            }
          }

          .login-as {
            font-size: 28px;
            width: 105px;
            display: none;
          }

          .icons {
            margin-top: -10px;
          }
        }

        .login-modal {
          right: 32px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .tv {
    .TVHome {
      .CatalogTV {
        .nav {
          margin-top: 5px;
          padding: 0 220px;
        }

        .login {
          right: 42px;
          top: 5px;
          width: 330px;

          &.personal {
            .title {
              font-size: 28px;
              width: 190px;

              .image {
                margin-top: -5px;
              }
            }
          }

          .login-as {
            width: 155px;
            text-align: right;
            padding-right: 20px;
          }

          .icons {
            margin-top: 0;
          }
        }

        .login-modal {
          right: 32px;
        }
      }
    }

    .TVHome.landscape {
      .CatalogTV {
        .nav {
          margin-top: 5px;
          padding: 0 205px;

          button {
            font-size: 28px;

            &.active::after {
              bottom: -15px;
            }

            &.overview-button {
              font-size: 12px;

              .icon {
                height: 20px;
                margin: 0 0 20px 10px;
              }
            }
          }
        }

        .login {
          right: 80px;
          top: 15px;

          &.personal {
            .title {
              font-size: 28px;

              .image {
                margin-top: -5px;
              }
            }
          }

          .login-as {
            font-size: 28px;
            width: 105px;
          }

          .icons {
            margin-top: -10px;
          }
        }

        .login-modal {
          right: 50px;
          top: -105px;

          &.pincode {
            top: -135px;
          }

          .cancel {
            font-size: 12px;
          }
        }

        .tab-content {
          .catalog {

          }
        }
      }

      &.zoom-in {
        .CatalogTV {
          height: 70%;
          top: calc(70% + 115px);

          .nav {
            margin-top: 60px;
          }
        }
      }
    }

    #zoom-in-right {
      display: none;
    }
  }
}

@media (max-height: 1023px) {
  .tv {
    .TVHome.landscape {
      .CatalogTV {
        height: calc(100% - 50% - 80px);
        top: calc(50% + 80px);

        .tab-content {
          margin-top: 40px;

          .catalog {
            .venues {
              height: 160px;

              &::before,
              &::after {
                height: 160px;
                width: 150px;
              }

              .item {
                margin: 0 10px 0 10px;
                width: 180px;

                .images-wrapper {
                  height: 88px;
                  width: 160px;

                  .category-icon,
                  .category-icon svg {
                    bottom: 2px;
                    height: 18px;
                    width: 18px;
                  }
                }

                .descr {
                  .name {
                    font-size: 16px;
                    margin-top: 14px;
                  }

                  .info div {
                    font-size: 12px;
                  }
                }
              }
            }

            .categories {
              margin-top: 0;

              .category-item {
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-height: 1024px) {
  .tv {
    .TVHome.landscape {
      .CatalogTV {
        height: calc(100% - 55%);
        top: calc(55%);

        .tab-content {
          margin-top: 75px;

          .catalog {
            .categories {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-height: 960px) {
  .tv {
    .TVHome.landscape {
      .CatalogTV {
        height: calc(100% - 51% - 75px);
        top: calc(51% + 75px);

        .nav {
          margin-top: 15px;
        }
      }
    }
  }
}
