.tv {
  .DynamicDeckTV {
    position: relative;

    .actions {
      align-items: center;
      bottom: -17px;
      display: flex;
      left: 80px;
      position: absolute;
      transition: bottom ease 0.25s;
      width: calc(100% - 80px);
      z-index: 20;
    }

    .layer3d {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate3d(0, 0, 1px);
      // transform-style: preserve-3d;
      width: 100%;
      z-index: 2;

      .path-icon {
        svg {
          height: 20px;
          width: auto;
        }
      }

      .animated-paths-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;

        .animated-path-item {
          background-color: #4285f4;
          border-bottom: 1px solid #fff;
          border-top: 1px solid #fff;
          box-sizing: content-box;
          height: 4px;
          position: absolute;

          &.border-right {
            border-right: 1px solid #fff;
          }

          &.border-left {
            border-left: 1px solid #fff;
          }
        }

        .animated-lift {
          background-color: #4285f4;
          border-bottom: 1px solid #fff;
          border-top: 1px solid #fff;
          box-sizing: content-box;
          display: flex;
          justify-content: space-between;
          position: absolute;
          width: 6px;

          .border {
            background-color: #fff;
            height: 4px;
            margin-top: 4px;
            width: 1px;
          }
        }

        img.destination {
          position: absolute;
          width: 10px;
        }
      }
    }

    #elevators {
      backface-visibility: hidden;
    }

    .user-container {
      position: relative;
      z-index: 1000;
    }

    .deck-3d-layer {
      backface-visibility: hidden;
      bottom: auto;
      transition: transform 1s, -webkit-transform 1s, top 0.935s;
    }
  }

  .Deck {
    opacity: 0;
    overflow: visible;
    transform-style: preserve-3d;
    transition: opacity 0.5s ease, padding-top 0.5s ease;

    &.initialized {
      opacity: 1;
    }

    .deck-3d-container {
      backface-visibility: hidden;
      transform-origin: 50% 50%;
      transition: all ease 0.6s;
    }

    .deck-offset-container {
      backface-visibility: hidden;
      transition: all 0.5s ease-in-out;
    }

    &.in-move {
      .deck-3d-layer {
        transition: none;
      }

      .deck-offset-container {
        transition: none;
      }
    }

    .deck-layers-container {
      backface-visibility: hidden;
      position: relative;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      transition: all 0.5s ease-in-out;

      > * {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
      }

      svg {
        max-width: 100%;
        overflow: visible;
        transition: all 0.5s ease-in;

        #main-container {
          backface-visibility: hidden;
          transform-origin: 50% 50%;
          transform-style: preserve-3d;
          transition: transform 0.15s;
        }

        #paths-container {
          animation: draw 3s 1 linear;
          animation-fill-mode: forwards;
          filter: url(#tv-path-shadow);
          stroke-dasharray: 12700;
          stroke-dashoffset: 12700;
        }
      }
    }
  }

  .TVHome.landscape .DynamicDeckTV {
    height: 100%;

    .actions {
      bottom: -58px;
    }
  }

  .TVHome.landscape.zoom-in {
    .DynamicDeckTV {
      height: 100%;

      .actions {
        bottom: -125px;
        transition: bottom 1s;
      }
    }
  }
}

@import "Deck-media";
