.tv {
  .TVHome {
    background-color: #0b0b0b;
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 28px;

    .deck-container-wrapper {
      background: #0000 url(/public/images/tv/bg-dark.png) no-repeat center / cover;
      height: 37.5%;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 0.5s ease;
      width: 100%;

      img.invalid {
        bottom: -40%;
        left: 0;
        position: absolute;
        transform: translate(0, -50%);
        z-index: 100;
        transition: bottom 0.5s ease;
      }

      img.sea {
        bottom: 0;
        height: 36%;
        left: 50%;
        min-width: 140%;
        position: absolute;
        z-index: 1;
      }
    }

    .nav-tips {
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 30px;
      width: 100%;
      z-index: 2;

      .tip {
        align-items: center;
        animation: fade-in 0.3s ease-in-out;
        backface-visibility: hidden;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 72px;
        box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        height: 112px;
        margin: 0 15px 0 15px;
        width: 224px;

        @keyframes fade-in {
          0% { opacity: 0; }
          100% { opacity: 1; }
        }

        .avatar {
          backface-visibility: hidden;
          background-size: cover;
          border-radius: 50%;
          height: 90px;
          margin: 0 0 0 12px;
          width: 90px;
        }

        .imgr {
          backface-visibility: hidden;
          height: 70px;
          margin: 20px 0 0 10px;
          width: 70px;
        }
      }
    }

    .info-panel {
      color: #fff;
      display: flex;
      font-family: RobotoLight, serif;
      justify-content: flex-start;
      left: 20px;
      position: absolute;
      top: 30px;
      width: calc(100% - 20px);
      z-index: 260;

      .deck-number {
        font-size: 35px;
        font-weight: lighter;
        text-transform: uppercase;
      }

      .datetime {
        margin: 5px 0 0 0;
        position: absolute;
        right: 20px;
        text-align: right;

        .time {
          backface-visibility: hidden;
          font-size: 35px;
          font-weight: lighter;
          line-height: 35px;
          text-transform: uppercase;
        }

        .date {
          backface-visibility: hidden;
          font-size: 19px;
          font-weight: lighter;
        }
      }
    }

    .navtop {
      background: linear-gradient(to top, rgba(29, 30, 36, 0), rgba(29, 30, 36, 1));
      height: 107px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      a.decks {
        background-color: #1e1f25;
        border-radius: 100px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        display: block;
        left: 50%;
        padding: 10px 17px;
        pointer-events: all;
        position: absolute;
        top: 33px;
        transform: translateX(-50%);
        z-index: 2;

        span {
          margin: 0 8px;
        }

        img {
          vertical-align: bottom;
        }
      }
    }

    .ripples {
      border-radius: 50%;
      box-sizing: content-box;
      height: 0;
      left: 50%;
      pointer-events: none;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      z-index: 100;

      @keyframes wave-animate {
        0% {
          opacity: 1;
          transform: scale(0);
          transform-origin: center;
        }

        100% {
          opacity: 0;
          transform: scale(2);
          transform-origin: center;
        }
      }

      &::before,
      &::after,
      .shadow {
        backface-visibility: hidden;
        border: 1px solid #fff;
        border-radius: 50%;
        content: "";
        height: 80px;
        margin-left: -40px;
        margin-top: -40px;
        opacity: 0;
        position: absolute;
        width: 80px;
        z-index: -1;
      }

      &::before {
        animation: wave-animate 0.35s ease-out;
        animation-delay: 0s;
        animation-fill-mode: forwards;
      }
    }
  }

  .TVHome.landscape {
    .deck-container-wrapper {
      height: 45%;
      padding-top: 200px;

      img.invalid {
        display: none;
      }

      img.sea {
        bottom: -20%;
      }
    }

    &.zoom-in {
      .layer3d {
        margin: -77px 0 0 -1197px;
      }

      .deck-container-wrapper {
        height: 72%;
        padding-top: 150px;
      }

      img.sea {
        bottom: -10%;
        height: 20%;
      }
    }
  }

  .NightSky {
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@import "Home-media";
