@media (max-width: 1365px){
  .tv {
    .TVHome {
      .info-panel {
        top: 15px;
      }

      .nav-tips {
        top: 95px;
      }

      .nav-tips {
        .tip {
          margin: 0 7px 0 7px;
          height: 70px;
          width: 160px;

          .avatar {
            height: 60px;
            width: 60px;
            margin: 0 0 0 8px;
          }

          .imgr {
            height: 60px;
            margin: 10px 0 0 10px;
            width: 60px;

            svg {
              width: 60px;
              height: auto;
            }
          }
        }
      }

      .deck-container-wrapper {
        height: 45%;
      }

      &.zoom-in {
        img.invalid {
          bottom: -20%;
        }

        img.sea {
          bottom: 1%;
        }
      }

      &.landscape {
        .nav-tips, .info-panel {
          top: 15px;
        }

        .deck-container-wrapper {
          padding-top: 100px;
        }

        &.zoom-in {
          .deck-container-wrapper {
            padding-top: 70px;

            img.sea {
              bottom: -12%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1366px) and (max-width: 1440px){

  .tv {
    .TVHome {
      .nav-tips, .info-panel {
        top: 22px;
      }

      .nav-tips {
        .tip {
          margin: 0 7px 0 7px;
          height: 70px;
          width: 160px;

          .avatar {
            height: 60px;
            width: 60px;
            margin: 0 0 0 8px;
          }

          .imgr {
            height: 60px;
            margin: 10px 0 0 10px;
            width: 60px;

            svg {
              width: 60px;
              height: auto;
            }
          }
        }
      }

      &.landscape {
        .deck-container-wrapper {
          padding-top: 100px;
        }

        &.zoom-in {
          .deck-container-wrapper {
            padding-top: 70px;

            img.sea {
              bottom: -12%;
            }
          }
        }
      }
    }
  }
}

@media (min-height: 768px) {



}

@media (min-height: 1024px) {

  .tv {
    .TVHome {
      &.landscape:not(.zoom-in) {
        .deck-container-wrapper {
          height: 50%;

          .Deck {
            padding-top: 40px !important;
          }
        }
      }

      &.landscape.zoom-in {
        .deck-container-wrapper {
          height: 68%;

        }
      }
    }
  }

}

@media (min-height: 960px) {

  .tv {
    .TVHome {
      &.landscape:not(.zoom-in) {
        .deck-container-wrapper {
          height: 45%;
          padding-top: 150px;

          .Deck {
            padding-top: 0px !important;
          }
        }
      }

      &.landscape.zoom-in {
        .deck-container-wrapper {
          height: 73%;

          img.sea {
            bottom: -8%;
          }
        }
      }
    }
  }

}
