.tv {
  .TVHome {
    .overlay {
      background: transparent;
      height: 50%;
      top: 50%;
      z-index: 30;

      .outside-alerter {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        pointer-events: all;

        .modal {
          background-color: #272727;
          border-radius: 24px;
          box-shadow: 0 30px 40px 10px rgba(0, 0, 0, 0.41), inset 0 0 1px 0 rgba(255, 255, 255, 0.21);
          top: auto;
          max-height: none;

          button {
            font-size: 18px;
          }

          .title {
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            padding: 24px 0 24px 0;
            text-align: center;

            .image {
              text-align: center;

              img {
                backface-visibility: hidden;
                border-radius: 50%;
                height: 73px;
                width: 73px;
              }
            }

            .welcome {
              padding: 16px 0 5px 0;
            }
          }

          .pincode {
            display: flex;
            flex-wrap: wrap;
            height: 169px;
            justify-content: center;
            padding: 13px 20px 20px 20px;

            .note {
              backface-visibility: hidden;
              flex: 1 1 100%;
              font-size: 12px;
              font-weight: normal;
              margin: 23px 0 0 0;
              opacity: 0.4;
              text-align: center;
            }

            .image {
              text-align: center;

              img {
                backface-visibility: hidden;
                border-radius: 50%;
                height: 73px;
                width: 73px;
              }
            }

            .code {
              display: flex;
              height: 10px;
              justify-content: space-between;
              justify-self: center;
              margin: 0;
              padding: 0;
              width: 88px;

              li {
                backface-visibility: hidden;
                border: 1px solid #fff;
                border-radius: 50%;
                height: 8px;
                list-style: none;
                width: 8px;

                &.active {
                  background: #fff;
                }
              }
            }

            .keyboard {
              display: flex;
              flex-wrap: wrap;
              min-height: 100px;
              justify-content: flex-end;
              margin: 0;
              padding: 32px 0 32px 0;
              width: 100%;

              li {
                color: #fff;
                flex: 1 1 64px;
                font-size: 22.7px;
                font-weight: 300;
                height: 32px;
                max-height: 32px;
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
              }
            }
          }

          &.Cabins {
            height: 505px;
            max-height: none;

            .pincode {
              height: auto;

              .code {
                font-size: 0;
                width: 245px;

                li.active {
                  background: none;
                  border: none;
                  font-size: 22px;
                  margin-left: 2px;
                  margin-top: -10px;
                }
              }

              .keyboard {
                min-height: 100px;
                padding: 0;
                width: 100%;

                &.alpha {
                  padding: 15px 0 0px 0;
                  width: 100%;

                  li {
                    padding: 0;
                  }
                }

                li {
                  padding: 5px 15px 5px 15px;

                  &.fade-enter-done {
                    animation: background-fade 0.3s linear;
                    animation-fill-mode: none;
                  }

                  &:last-child {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                  }
                }
              }
            }

            &.error {
              animation: onCabinError 0.3s ease-in;

              @keyframes onCabinError {
                25% { transform: translate(calc(-50% + 10px), -50%); }
                50% { transform: translate(calc(-50% - 10px), -50%); }
                75% { transform: translate(calc(-50% + 10px), -50%); }
                100% { transform: translate(-50%, -50%); }
              }

              .note {
                color: #ff3636;
                opacity: 0.8;
              }
            }

            .content {
              padding-bottom: 45px;
              display: none;
            }

            .footer {
              height: 60px;

              button {
                line-height: 49px;
                width: 50%;
              }

              .find-cabin {
                background: #0092d3;
                border-bottom-right-radius: 24px;
                box-sizing: content-box;
                height: 65px;
                line-height: normal;
                margin: -8px -8px 0 0;

                svg {
                  display: inline-block;
                  margin-bottom: -2px;
                  vertical-align: middle;
                }
              }

              .find-cabin:disabled {
                background: none;
                opacity: 0.2;
              }

              .loader {
                display: flex;
                justify-content: center;
                position: relative;
              }
            }
          }

          &.Restrooms {
            border-radius: 24px;
            top: auto;

            .buttons {
              flex-wrap: wrap;
            }

            button {
              background: none;
              box-shadow: none;

              &.big {
                flex: 1 0 50%;
                height: 78px;
                margin: 20px 0 20px 0;

                svg {
                  height: 78px;
                  width: auto;
                }

                &.active {
                  svg {
                    * {
                      box-shadow: 0 10px 30px 0 rgba(0, 146, 211, 0.36), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                      fill: #0092d3;
                    }
                  }
                }
              }

              &.dis {
                align-content: center;
                align-items: center;
                border: none;
                flex: 1 0 100%;
                justify-content: center;

                span {
                  align-items: center;
                  border: 1px solid #a8a8a8;
                  border-radius: 3px;
                  display: inline-block;
                  height: 20px;
                  justify-content: center;
                  justify-items: center;
                  margin-right: 10px;
                  vertical-align: middle;
                  width: 20px;
                }

                &.active {
                  span {
                    background: #0092d3;
                    border-color: #0092d3;

                    svg {
                      height: auto;
                      width: 15px;

                      * {
                        fill: #272727;
                      }
                    }
                  }
                }
              }
            }

            .footer {
              button {
                line-height: 49px;
              }
            }
          }
        }
      }
    }
  }

  .TVHome.landscape {
    .overlay {
      background: transparent;
      height: 50%;
      top: 50%;
    }
  }

  .Directions .user-cont {
    transform: translate(1px, -5px);
  }
}


@media (min-width: 1280px) and (max-width: 1440px){

  .tv {
    .TVHome {
      .overlay {
        .outside-alerter {
          .modal {
            &.Cabins {
              top: 0;
            }

            &.Restrooms {
              top: 0;
            }
          }
          .Modal {
            .close-button {
              height: 40px;
              width: 40px;
              right: -18px;
              top: -22px;

              svg {
                width: 20px;
                height: 20px;
              }
            }

            &.Directions {
              height: 300px;

              .venue-info {
                position: relative;

                .info {
                  box-sizing: border-box;
                  width: 100%;
                  position: absolute;

                  .name {
                    font-size: 27px;
                  }

                  .buttons button {
                    border-radius: 24.5px;
                    font-size: 13px;
                    line-height: 45px;
                    margin: 0 22px 0 0;
                    min-width: 230px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
