.tv {
  .tab-content-inner {
    &.personal {
      color: #fff;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      overflow-y: hidden;
      width: 80%;
      transition: opacity 0.5s ease;

      .personal-content {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;

        .title {
          flex: 1 1 100%;
          font-size: 28px;
          font-weight: normal;
          opacity: 1;
          padding: 0;
        }

        .my-party {
          align-items: flex-start;
          flex: 1 1 30%;

          .users {
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            .user {
              display: flex;
              flex: 1 0 240px;
              margin: 0 0 38px 0;

              .image {
                height: 54px;
                margin-right: 22px;
                width: 54px;

                .img {
                  background-size: cover;
                  border-radius: 50%;
                  height: 54px;
                  width: 54px;
                }
              }

              .info {
                .name {
                  font-size: 18px;
                  font-weight: normal;
                }

                .position {
                  font-size: 9px;
                  font-weight: normal;
                }
              }
            }
          }
        }

        .schedule {
          align-items: flex-start;
          display: flex;
          flex: 1 1 30%;
          flex-direction: column;
          padding: 0 80px;

          .schedule-venues {
            flex: 1 1 100%;
          }

          .venue {
            background-size: cover;
            display: flex;
            flex-direction: column;
            height: 216px;
            justify-content: flex-end;
            width: 340px;

            .info {
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              flex-direction: column;
              font-size: 18px;
              height: 100%;
              justify-content: flex-end;
              padding: 10px;
              width: 100%;

              .name {
                font-size: 18px;
              }

              .detail {
                font-size: 12px;
              }
            }
          }
        }

        .buttons {
          align-items: flex-start;
          display: flex;
          flex: 1 1 135px;
          flex-direction: column;
          margin-top: 68px;
          max-width: 175px;

          button {
            background: #fff;
            border-radius: 25px;
            color: #0b0b0b;
            display: block;
            font-size: 12px;
            font-weight: bold;
            line-height: 50px;
            margin: 0 0 30px 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;

            svg {
              display: inline-block;
              margin: 0 5px -4px 0;

              * {
                box-shadow: none;
                fill: #0b0b0b;
                stroke: #0b0b0b;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .tv {
    .TVHome {
      .tab-content-inner.personal {
        width: calc(100% - 190px);
        margin: 0 0 0 80px;

        .my-party {
          flex: auto;
          padding: 0;
        }

        .schedule {
          flex: auto;
          padding: 0;
        }

        .buttons {
          position: absolute;
          top: 0;
          right: 20px;
          width: 160px;
        }
      }
    }
  }
}


@media (min-width: 1280px) and (max-width: 1365px){

  .tv {
    .TVHome.landscape {
      &.zoom-in {
        .tab-content-inner {
          &.personal {
            opacity: 0;
          }
        }
      }

      .tab-content-inner.personal {
        box-sizing: border-box;
        width: 100%;
        padding: 0 32px;
      }

    }
  }

}

@media (min-width: 1366px) and (max-width: 1919px){



}
