.tv {
  .VenueTV {
    color: #fff;
    cursor: pointer;
    display: flex;
    pointer-events: auto;
    z-index: 250;

    &.inverted {
      flex-direction: row-reverse;

      .label {
        padding: 0 10px 0 0;
        text-align: right;
      }
    }

    &.hide {
      cursor: default;
      opacity: 0 !important;
    }

    .icon-container {
      display: flex;
      flex: 1 0 auto;
      height: 60px;
      position: relative;
      width: 60px;

      svg {
        height: 100%;
        width: 100%;
      }

      .icon {
        height: 100%;
        width: 100%;
      }
    }

    .label {
      backface-visibility: hidden;
      color: #fff;
      display: block;
      flex: 1;
      /* stylelint-disable */
      font-family: RobotoCondensedRegular, SansSerif, serif;
      /* stylelint-enable */
      font-size: 150px;
      -webkit-font-smoothing: subpixel-antialiased;
      font-weight: bold;
      padding: 0 0 0 10px;
      text-shadow: 0 0 0 #000;
      white-space: nowrap;
    }
  }
}
