.close-btn {
  padding: 10px;

  &--theme-dark {
    svg rect {
      fill: white;
    }
  }

  &--theme-light,
  &--theme-bliss {
    svg rect {
      fill: black;
    }
  }

  &__icon {
    display: block;
    width: 14px;
    height: 14px;
    opacity: 0.5;
  }
}
